<h2 class="title">Create New directory</h2>

<%= form_tag({ :controller => 'directories', :action => 'create', :project_id => @project }, :method => :post) do %>
<div class="box tabular">
  <p>
  	<%= text_field_tag 'name' %>
  	<%= submit_tag l(:button_create),:class=>'greenBtn' %>
  </p>
</div>

<% end %>

<% if !@directory.empty? %>
	<table class="formTable newDirectoryTable">
		<tr>
		<th  class="textAlignLeft">
Directory Name
		</th>
		<th>
Edit
		</th>
		<th>
Delete
		</th>
	</tr>
		<% for directories in @directory %>
		
		<tr>
			<td class="textAlignLeft"><%= directories.name %> </td>
			<td><%= link_to(image_tag('edit.png'), edit_project_directory_path(@project,directories)) %>
			</td>
			<td><%= link_to(image_tag('delete.png'), project_directory_path(@project,directories),:data => {:confirm => "Are you sure? Any files under this directory will get removed automatically. "}, :method => :delete) %>
			</td>
		</tr>
		
		<% end %>
	</table>
<% end %>


<%# content_for :sidebar do %>

<%#= render :partial => 'layouts/projects_sidebar' %>

<%#= params.inspect %>

<%# end %>

<script type="text/javascript">
  jQuery(document).ready(function($) {


<%if params[:controller].to_s=="directories"%>
  $('.files').addClass('selected');
    <%end%>

    });
</script>
