<% for projectmain in @projects %>
    <% @projectmain = projectmain %>
    <div id="project_updates">
      <div class="leftInnerSeperateProject">
        <% @projects_sub = @all_sub_projects.find_all{|sub_proj| sub_proj.parent_id==projectmain.id} %>
    <% unless User.current.admin? %> 
    <h1 class="projectTitle"><%#= link_to_project projectmain %>
        <%= link_to(projectmain.name, report_project_time_entries_path(projectmain)) %>
        <%= link_to("Create Project", {:controller => 'projects', :action => 'new', :project_id=>projectmain.id, :project_name=>projectmain.name}, :class => 'createSubProjectSpan') if User.current.manager? || User.current.admin? %>
    </h1>
    <% else %>
    <h1 class="projectTitle"><%#= link_to_project projectmain %>
        <%= link_to(projectmain.name, report_project_time_entries_path(projectmain)) %>
        <%= link_to("Create Project", {:controller => 'projects', :action => 'new', :project_id=>projectmain.id, :project_name=>projectmain.name}, :class => 'createSubProjectSpan') if User.current.manager? || User.current.admin? %>
    </h1>
     <article class="contentLeftColumnContent adminDbrdContent">
                    <ul>
    <% end %>

    <% existsFlag = 0; %>
    <% for project in @projects_sub %>
      <% @pro = project %>
      <% existsFlag = 1; %>
      <% @total_hours = TimeEntry.sum_hours(@time_entries.find_all{|entry| entry.project_id==@pro.id}.collect(&:billable))%>  
      <% #@users_by_role = @pro.users_by_role %>
      <% issuecount = 0 %>
      <% issuecount_total = 0 %>
      <% @myissues = @all_issues.find_all{|issue| issue.project_id == project.id && issue.status_id != 6} %>
      <% if @myissues.present? %>
        <% for myissue in @myissues %>
          <% issuecount = issuecount + myissue.done_ratio %>
          <% issuecount_total = issuecount_total + 1 %>
        <% end %>
      <% end %>
      <% if issuecount != 0 %>
        <% issuecalc = issuecount/issuecount_total %>
      <% else %>
        <% issuecalc = 0 %>
      <% end %>
      <% @sprints = @all_sprints.find_all{|sprint| sprint.project_id==@pro.id} %>
   
     <% delay = 0%>
      <% if !@sprints.empty? %>
      <%sprint_status = []%>
      <% for sprint in @sprints %>

     <%
      #@issues_task = @all_issues.find_all{|item| item.tracker_id==2}

      @issues_task = @all_issues.find_all{|item| item.tracker_id == 2 && item.fixed_version_id == sprint.id}

      @issues_bugs = @all_issues.find_all{|item| item.tracker_id == 1 && item.fixed_version_id == sprint.id && item.status_id != 6}

      #@issues_bugs = @all_issues.find_all{|item| item.tracker_id==1}

     %>
     
     <%if @issues_bugs.count !=0 || @issues_task.count !=0 %>
          <%unless sprint.effective_date.nil? %>
            <%if Date.today > sprint.effective_date %>
               <% sprint.status == "closed" ? delay =0 : delay = 1%>
              <% sprint_status << delay%>
            <% end %>
          <% end %>
      <% end %>
     <% end %>
     <% sprint_status.include?(1) ? delay =1 : delay =0 %>
     <%sprint_status = []%>
     <% end %>
     
    <% unless User.current.admin? %> 

        <article class="contentLeftColumn leftsmlInnerContainer">
            <article class="contentLeftColumnContent">


            <% if User.current.manager? %>

              <% if @favorite_projects.present? %>

                <% if @favorite_projects.include?(project) %>

                <%= link_to(image_tag('favbright.png', :size => '12x12'), remove_favorite_project_path(project.id), :title => "Remove favorite", :class => 'unfav_project') %>

                <% else %>

                <%= link_to(image_tag('favdull.png', :size => '12x12'), add_to_favorite_project_path(project.id), :title => "Add favorite", :class => 'fav_project') %>

                <% end %>

              <% else %>
              
                <%= link_to(image_tag('favdull.png', :size => '12x12'), add_to_favorite_project_path(project.id), :title => "Add favorite", :class => 'fav_project') %>

              <% end %>

            <% end %>  


              <h1><%= link_to_project project %></h1>
              <div class="projectDescriptionpara">
                
                 <% if project.short_description !=""%> 
                  
                    <%= textilizable project.short_description[0,50].gsub(/\s\w+$/,'...'), :project => project %>
                  
                <%else%>
                  
                  <p>Project description is not available</p>
                  
                <% end%>
                </div>
              <%if delay == 1%>
              <div class="ProjectStatueContainer statusRed">  
              <%else%>        
              <div class="ProjectStatueContainer"> 
              <%end%> 
              
              <article class="progressStatusWrap">
              
              <div class="progressStatus" id="progressStatus_<%= project.id%>"></div>
              <h6>Project Progress</h6>
              </article>
          
          
              <article class="projectDetailsWrap">
              <label class="projectLeadBy" title="Project Type"><%= project.project_type ? project.project_type : "NA" %></label>
              <label class="projectTime" title="Time Spent"> <%= TimeEntry.calculate_time(l_hours(@total_hours)) %></label>
              <label class="totalSprint" title="Number Of Sprints"><%= @sprints.size %></label>
              </article>
              </div>

            </article>
          </article>
          <script>
            ( function( $ ){
              $( '#progressStatus_<%= project.id%>' ).progressCircle();
                $( '#progressStatus_<%= project.id%>' ).progressCircle({
                  nPercent        : <%= issuecalc %>,
                  showPercentText : true,
                  thickness       : 8,
                  circleSize      : 54
                });
            })( jQuery );

          </script>

    <%else%>  

                      <%if delay == 1%>
                        <li class="statusRed">
                      <% else %>
                        <li>
                      <% end %>
                          <label>
                            
    <% if @favorite_projects.present? %>

      <% if @favorite_projects.include?(project) %>

      <%= link_to(image_tag('favbright.png', :size => '12x12'), remove_favorite_project_path(project.id), :title => "Remove favorite", :class => 'unfav_project') %>

      <% else %>

      <%= link_to(image_tag('favdull.png', :size => '12x12'), add_to_favorite_project_path(project.id), :title => "Add favorite", :class => 'fav_project') %>

      <% end %>

    <% else %>
    
      <%= link_to(image_tag('favdull.png', :size => '12x12'), add_to_favorite_project_path(project.id), :title => "Add favorite", :class => 'fav_project') %>

    <% end %>    

                            <%= link_to_project project %></label>
                            <div>
                                  <span title="Project Progress"><%= issuecalc %>%</span>
                                <span title="Time Spent - <%= TimeEntry.calculate_time(l_hours(@total_hours)) %>">
                                
                                <%=h truncate(TimeEntry.calculate_time(l_hours(@total_hours)), :length => 6) %>

                                </span>
                                <span title="Number Of Sprints"><%= @sprints.size %></span>
                                <span title="Estimated Hours"><%= project.estimated_hours.nil? ? "0.00" :  project.estimated_hours  %></span>
                                <span title="Project Type"><%= project.project_type.nil? ? "N/A" : project.project_type %></span>
                            </div>
                        </li>

      <% end %>                  
        
    <% end %>

    

    <% if  @projects_sub.size==0%>
      <p class="noSubProject">No sub projects available</p>
    <% end %>



    <% if User.current.admin? %> 
         </ul>
        </article>
    <% end %>

        </div>
      </div>
      <div class="projects"></div>
    <% end %>