<% count = 0 %>
<% for project in @projects %>
<% @project = project %>
<% cond = @project.project_condition(Setting.display_subprojects_issues?) %>
<% total_hours = TimeEntry.visible.sum(:billable, :conditions => cond).to_f %>
<% count = count+total_hours %>
<% end %>
<% for projectmain in @projects %>
  <% @projectmain = projectmain %>
  <div class="leftInnerSeperateProject">

  <h1 class="projectTitle"><%= link_to_project projectmain %></h1>
  <% @projects_sub = Project.where(:parent_id => @projectmain.id).active %>

  <% existsFlag = 0; %>

  <% for project in @projects_sub %>

  <% @project = project %>

  <% if User.current.admin? or Member.where("project_id = #{@project.id} AND user_id = #{User.current.id}").present? %>

  <% existsFlag = 1; %>

  <% cond = @project.project_condition(Setting.display_subprojects_issues?) %> 
  <% @total_hours = TimeEntry.visible.sum(:billable, :conditions => cond).to_f %>
  <% @users_by_role = @project.users_by_role %>

  <% issuecount = 0 %>
  <% issuecount_total = 0 %>
  <% @myissues = Issue.where(:project_id => project.id) %>
  <% if @myissues.present? %>
  <% for myissue in @myissues %>
  <% issuecount = issuecount + myissue.done_ratio %>
  <% issuecount_total = issuecount_total + 1 %>
  <% end %>
  <% end %>
  
  <% if issuecount != 0 %>
  <% issuecalc = issuecount/issuecount_total %>
  <% else %>
  <% issuecalc = 0 %>
  <% end %>

  <% @sprints = Sprint.where(:project_id => @project.id) %>


    <article class="contentLeftColumn">
              <article class="contentLeftColumnContent">
                <h1><%= link_to_project project %></h1>
                <div class="projectDescriptionpara"><%= textilizable project.short_description, :project => project %></div>
                <div class="progressField">
                <h4>Project Completeness <label><%= issuecalc %>%</label></h4>

                
<div class="progressBar">
  <div class="progressCompleted" role="progressbar" aria-valuenow="<%= issuecalc %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= issuecalc %>%;">
  </div>
</div>

                </div>
                
                <article class="projectDetails">
                  <ul>
                    <li>
                      <label class="detailProperty">Project Manager</label>
                      <label class="detailSeparator">:</label>
                      <label class="detailValue">
                      <% if @users_by_role.any? %>
                        <% @users_by_role.keys.sort.each do |role| %>
                        <% roletrim = h role %>
                        <% if roletrim == "Manager" %>
                        <%= @users_by_role[role].sort.collect{|u| link_to_user u}.join(", ").html_safe %><br />
                        <% end %>
                        <% end %>
                        <% else %>
                        N/A
                        <% end %>
                      </label>
                    </li>
                    <li>
                      <label class="detailProperty">Total time spent</label>
                      <label class="detailSeparator">:</label>
                        <label class="detailValue timer">
                          
                          <%= l_hours(@total_hours) %>

                          </label>
                    </li>
                    <li>
                      <label class="detailProperty">Total Sprints</label>
                      <label class="detailSeparator">:</label>
                        <label class="detailValue"><%= @sprints.size %></label>
                    </li>
                    </ul>
                </article>
                </article>
            </article>
           
            <% end %>

            <% end %>
          </div>
<% end %>