<div style="float:right;"><%= link_to("New Meeting Summary", new_project_meeting_path(@project), :class => 'addNewDirectoryIcon ') %></div>
<br><br>
<% unless @meeting.empty? %>
	<table class="formTable newDirectoryTable">
		<tr>
		<th  class="textAlignLeft">
Title
		</th>
		<th  class="textAlignLeft">
Start DateTime
		</th>
		<th  class="textAlignLeft">
End DateTime
		</th>
<!-- 		<th>
Edit
		</th> -->
		<th>
Delete
		</th>
	</tr>
		<% for meeting in @meeting %>
		<tr>
			<td class="textAlignLeft project_meeting"><%= link_to(meeting.title, project_meeting_path(@project,meeting)) %> </td>
			<td class="textAlignLeft"><%= meeting.date %> <%= meeting.time %> </td>
			<td class="textAlignLeft"><%= meeting.end_date %> <%= meeting.end_time %> </td>
			<!-- <td><%#= link_to(image_tag('edit.png'), edit_project_meeting_path(@project, meeting)) %>
			</td> -->
			<td><%= link_to(image_tag('delete.png'), project_meeting_path(@project,meeting),:data => {:confirm => "Are you sure you want to delete this meeting?"}, :method => :delete) %>
			</td>
		</tr>
		
		<% end %>
	</table>
<%else%>
No Meeting Data Available.
<%end%>
