 <br/>
<% reply_links = authorize_for('issues', 'edit') -%>
<% for journal in journals %>
 <% if !journal.notes.blank? %>
  <div id="change-<%= journal.id %>" class="<%= journal.css_classes %>">
    <div id="note-<%= journal.indice %>">
      <h4><%= avatar(journal.user, :size => "24") %>
      <%= authoring journal.created_on, journal.user, :label => :label_updated_time_by %></h4>
      <%= render_notes(issue, journal, :reply_links => reply_links)%>
    </div>
  </div><br/>
  <%end%>
<% end %>

