<div id="filterMainDiv">
  <input type="checkbox" id="selecctall"/> Select All
  <div id="change_status_dropdown" style="display:none;">
      <%@default_statuses = IssueStatus.where(:name=>["In Progress","Resolved","Closed"])%>

      <% if @default_statuses.present? %>
          Change Status : 
          <%=select_tag 'change_multiple_status', options_for_select(@default_statuses.collect{ |u| [u.name, u.id] }), :prompt => "Please select", :status_url => bulk_update_issues_path, :project_id => @project.id %>
      <% end %>
  </div>
</div>  

<%= form_tag({}) do -%>
<%= hidden_field_tag 'back_url', url_for(params), :id => nil %>

<div id="addToListDiv">
  <div class="addToListDivInner">     
    <% issue_list(issues) do |issue, level| -%>
      <div class="ui-state-default sortDiv">
        <span class="dragSpan"></span>
        <div class="content">
          <div class="descriptionSpan" style="width:100%">
            <table style="width:100%;">
              <% if @query.grouped? && (group = @query.group_by_column.value(issue)) != previous_group %>
              <% reset_cycle %>
              <tr class="group open" style="width:100%">
                <td colspan="<%= query.inline_columns.size + 2 %>">
                  <span class="expander" onclick="toggleRowGroup(this);">&nbsp;</span>
                  <%= group.blank? ? l(:label_none) : column_content(@query.group_by_column, issue) %> <span class="count"><%= @issue_count_by_group[group] %></span>
                  <%= link_to_function("#{l(:button_collapse_all)}/#{l(:button_expand_all)}",
                             "toggleAllRowGroups(this)", :class => 'toggle-all') %>
                </td> 
              </tr>
              <% previous_group = group %>
              <% end %>

              <tr style="width:100%" id="issue-<%= issue.id %>" class="hascontextmenu <%= cycle('odd', 'even') %> <%= issue.css_classes %> <%= level > 0 ? "idnt idnt-#{level}" : nil %>">
                <%issue_status = issue.status.try(:name)%>
                <td style="display:none;" class="checkbox hide-when-print issue_context_menu"><%= check_box_tag("ids[]", issue.id, false, :id => nil) %></td>

                <td class="checkbox hide-when-print issue_status_change"><%= check_box_tag("issue_ids[]", issue.id, false, :id => nil, :disabled => (issue_status == 'Closed' || issue_status == 'Rejected') ? true : false) %></td>
                <td class="stat"><a class="completion open"></a><td>
                <%if issue.tracker_id==1%>
                <%if @severity_values.nil?%>
                  <%custom_values=[]%>
                <%else%>
                  <%custom_values=@severity_values.find_all{|item| item.customized_id==issue.id}%>
                <%end%>
                <td class="severity" title='severity'>
                  <span>
                    <%if custom_values.size>0%>
                      <%=custom_values.first.value%>
                    <%else%>
                      NA
                    <%end%>
                  </span>
                </td>
                <%end%>
                <%= raw query.inline_columns.map {|column| "<td style='' class=\"#{column.css_classes}\"><p>#{column_content(column, issue)}</p></td>"}.join %>
                <td class="eTime"> <span>E</span><div><%= (issue.estimated_hours.nil? || issue.estimated_hours.to_f ==0.0) ? "0.00" : sprintf('%.2f', issue.estimated_hours)  %></div></td>
                <td class="sTime"> <span>S</span><div><%= issue.time_entries.empty? ? "0.00" : sprintf('%.2f', TimeEntry.sum_hours(issue.time_entries.collect(&:hours)))%></div></td>                
                <% issue_status = "#{issue.status}" %>
                <% if issue_status != "Closed" || User.current.admin? %>
                  <td class="rightClickLogTime" align="right">
                    <a class='bugLogTime openWindow openLogTime' url="issues/<%= issue.id%>/time_entries/new?new_log=1&version_id=<%= params[:v] ? params[:v][:fixed_version_id].try(:first) : params[:issue][:fixed_version_id]%>"></a>
                  </td> 
                      <td class="rightClickMenu" align="right"><a class='extended openWindow enabled actionOptions '></a></td>
                      <td class="rightClickMenu" align="right">
                       <% if issue.time_entries.empty?  %>
                          <% if issue_status == "Closed" %>
                              <a class="icon icon-reload taskQuickClose" href="javascript:alert('Already Closed!');">
                          <% else %>
                            <% if @client.empty? %>
                               <% if @reporter.empty?  %>
                                  <a class="icon icon-reload taskQuickClose" href="javascript:alert('Spend time should not be Zero!');">
                               <%else %>
                                  <% if params["tid"] == "2" %>
                                    <a class="icon icon-reload taskQuickClose" href="javascript:alert('Spend time should not be Zero!');">
                                  <% else %>
                                   <%= link_to "", bulk_update_issues_path(:ids => [issue.id], :project_id => @project.id, :issue => {:status_id => @default_statuses.last.id, :is_quick_close => true}), :method => :post, :class => "icon icon-reload taskQuickClose", :title => "Quick Close", :confirm => 'Are you sure want to close?', :data => {:toggle=>"dropdown"} %>
                                  <% end %>
                               <%end %>
                            <% else %>
                              <%= link_to "", bulk_update_issues_path(:ids => [issue.id], :project_id => @project.id, :issue => {:status_id => @default_statuses.last.id, :is_quick_close => true}), :method => :post, :class => "icon icon-reload taskQuickClose", :title => "Quick Close", :confirm => 'Are you sure want to close?', :data => {:toggle=>"dropdown"} %>
                            <% end %>
                          <% end %>
                       <% else %>
                            <% if issue_status == "Closed" %>
                              <a class="icon icon-reload taskQuickClose" href="javascript:alert('Already Closed!');">
                            <% else %>
                             <%= link_to "", bulk_update_issues_path(:ids => [issue.id], :project_id => @project.id, :issue => {:status_id => @default_statuses.last.id, :is_quick_close => true}), :method => :post, :class => "icon icon-reload taskQuickClose", :title => "Quick Close", :confirm => 'Are you sure want to close?', :data => {:toggle=>"dropdown"} %>
                            <% end %>
                        <% end %>

                      </td>
                <%else%>
                   <td class="rightClickLogTime" align="right"><a class="bugLogTime openWindow  LogTimedisabled" href="javascript:void(0);"></a></td>
                   <td class="rightClickMenu" align="right"><a class="extended openWindow disabled extendeddisabled" href="javascript:void(0);"></a></td>
                   <td class="rightClickMenu" align="right">
                        <a class="icon icon-reload taskQuickClose" href="javascript:alert('Already Closed!');">
                      </td>
                <% end %>                
              </tr>
            </table>
          
          </div>
          <span id="right-pane"></span>
        </div>
      </div>
      <% end -%>
    </div>

     <ul class="notesUl">
        <li><label class="high">H</label> - High</li>
        <li><label class="normal">N</label> - Normal</li>
        <li><label class="low">L</label> - Low</li>
        <li><label class="eTime">E</label> - Estimated Time</li>
        <li><label class="sTime">S</label> - Time Spent</li>
      </ul>  
  </div>
<% end -%>
<script>
$(document).ready(function(){
  $('.priority').each(function(){
    $(this).find('p').html($(this).find('p').html().substring(0,1))
  });  
});
</script>