<% if !@fixedid.empty? %>
<% content_for :header_tags do %>
  <%= javascript_include_tag 'jquery-ui' %>
  <%= javascript_include_tag 'custom' %>
  <%= javascript_include_tag 'jquery.multiple.select' %>
<% end %>



<div class="contextual">
<% if !@query.new_record? && @query.editable_by?(User.current) %>
  <%= link_to l(:button_edit), edit_query_path(@query), :class => 'icon icon-edit' %>
  <%= delete_link query_path(@query) %>
<% end %>
</div>

<!--<h2 class="title"><%= @query.new_record? ? l(:label_issue_plural) : h(@query.name) %></h2>-->
<h2 class="title" id='h2_filter'></h2>
<% html_title(@query.new_record? ? l(:label_issue_plural) : @query.name) %>

<%= form_tag({ :controller => 'issues', :action => 'index', :project_id => @project },
            :method => :get, :id => 'query_form') do %>
    <%= hidden_field_tag 'set_filter', '1' %>
    <%= hidden_field_tag 'tid', params["tid"] %>
    <div id="query_form_content" class="hide-when-print">
    <fieldset id="filters" style="border: none;" class="collapsible <%= @query.new_record? ? "" : "collapsed" %>">
      <div id="filterDiv" style="<%= @query.new_record? ? "" : "display: none;" %>">
        <%= render :partial => 'queries/filters', :locals => {:query => @query} %>
      </div>      
    </fieldset>
    <!-- <fieldset class="collapsible collapsed">
      <legend onclick="toggleFieldset(this);"><%#= l(:label_options) %></legend>
      <div style="display: none;">
        <table>
          <tr>
            <td><%#= l(:field_column_names) %></td>
            <td><%= render_query_columns_selection(@query) %></td>
          </tr>
          <tr>
            <td><label for='group_by'><%#= l(:field_group_by) %></label></td>
            <td><%#= select_tag('group_by',
                               options_for_select(
                                 [[]] + @query.groupable_columns.collect {|c| [c.caption, c.name.to_s]},
                                 @query.group_by)
                       ) %></td>
          </tr>
          <tr>
            <td><%#= l(:button_show) %></td>
            <td><%= available_block_columns_tags(@query) %></td>
          </tr>
        </table>
      </div>
    </fieldset> -->
    </div>
    
<% end %>


<%= error_messages_for 'query' %>
<% if @query.valid? %>
<div id='divIssues'>
  <%= render :partial => 'issues/issues' %>
</div>

<div id="csv-export-options" style="display:none;">
  <h3 class="title"><%= l(:label_export_options, :export_format => 'CSV') %></h3>
  
    <%= form_tag(params.merge({:format => 'csv',:page=>nil}), :method => :get, :id => 'issue-csv-export-form') do %>
    <div class="popUpContainer">
    <p>
      <label><%= radio_button_tag 'columns', 'all', true %> <%= l(:description_all_columns) %></label>
    </p>
    <p>
      <label><%= check_box_tag 'description', '1', @query.has_column?(:description), {:checked => "checked"}  %> <%= l(:field_description) %></label>
      <label><%= hidden_field_tag 'tid', params[:tid] %></label>
    </p>
  </div>
  <div class="popupButtonDiv">
    
      <%= submit_tag l(:button_export), :name => nil, :onclick => "hideModal(this);",:class=>'greenBtn' %>
      <%= submit_tag l(:button_cancel), :name => nil, :onclick => "hideModal(this);", :type => 'button',:class=>'pinkBtn' %>
    
  </div>
  <% end %>
</div>

<% other_formats_links do |f| %>
  <%= f.link_to 'Atom', :url => params.merge(:key => User.current.rss_key) %>
  <%= f.link_to 'CSV', :url => params, :onclick => "$('#issue-csv-export-form').submit(); return false;" %>
  <%= f.link_to 'PDF', :url => params %>
<% end %>



<% end %>

<!--  <div>
  <%#= form_tag project_issues_create_by_csv_path(@project), multipart: true do %>
    <%#= hidden_field_tag 'tracker_id', params["tid"] %>
    <%#= hidden_field_tag 'import_fixed_version_id'%>
    <%#= file_field_tag :file, :accept => ".csv" %>
    <%#= submit_tag "Import CSV" %>
  <%# end %>
  <br/><br/><br/>
  OR
  <br/><br/>
</div>  -->

<!-- NEW CHOOSE FILE -->
<div class="choose-file">
   <div id="tabs">
  <ul>
    <li><a href="#tabs-1">Create</a></li>
    <li><a href="#tabs-2">Import CSV</a></li>
</ul>
  <div id="tabs-1">
     <%= call_hook(:view_issues_new_top, {:issue => @issue}) %>
      <%= labelled_form_for @issue, :url => project_issues_path(@project),
                                   :html => {:id => 'issue-form', :multipart => true} do |f| %>
        <%= error_messages_for 'issue' %>
        <%= hidden_field_tag 'copy_from', params[:copy_from] if params[:copy_from] %>
        <div>    
          <div id="all_attributes">
        <%= render :partial => 'issues/form_integrated', :locals => {:f => f} %>
          </div>
        </div>
        
      <% end %>
      <div id="preview" class="wiki"></div>

      <% content_for :header_tags do %>
          <%= robot_exclusion_tag %>
      <% end %>

      <%= call_hook(:view_issues_index_bottom, { :issues => @issues, :project => @project, :query => @query }) %>   
  </div>
  <div id="tabs-2">
      <%= form_tag project_issues_create_by_csv_path(@project), multipart: true do %>
        <%= hidden_field_tag 'tracker_id', params["tid"] %>
        <%= hidden_field_tag 'import_fixed_version_id'%>
        <div class="upload-container">
          <input id="uploadFile" placeholder="Choose File" class="disable-sec" readonly="true"/>
          <div class="fileUpload btn btn-primary">
            <span>Choose File</span>
            <input id="uploadBtn" name="file" type="file" class="upload", accept=".csv" />
          </div>
          <div class="submitbtn">
            <%= submit_tag "Submit", :class=>"greenBtn" %>
          </div> 
           <p style="font-size:12px;">*For your reference download sample CSV &nbsp;
            <a href="<%= Setting.app%>/sample/tasks_new.csv" style="text-decoration:underline;">Click Here</a>
           <p>     
        </div>
      <% end %>            
  </div>
</div> 
</div>  





<%# content_for :sidebar do %>
<%#= render :partial => 'layouts/projects_sidebar' %>
<!--<aside class="contentRightColumn" ><%#= render :partial => 'issues/sidebar' %></aside>-->
<%# end %>

<% content_for :header_tags do %>
    <%= auto_discovery_link_tag(:atom,
                                {:query_id => @query, :format => 'atom',
                                 :page => nil, :key => User.current.rss_key},
                                :title => l(:label_issue_plural)) %>
    <%= auto_discovery_link_tag(:atom,
                                {:controller => 'journals', :action => 'index',
                                 :query_id => @query, :format => 'atom',
                                 :page => nil, :key => User.current.rss_key},
                                :title => l(:label_changes_details)) %>
<% end %>



<% else %>
<div id="addSprintDiv">
  <div>Sprints are yet to be created by the managers!</div>
  <%= link_to("Add Sprint", new_project_version_path(@project), :class => 'greenBtn') if User.current.allowed_to?(:manage_versions, @project) %>

</div>

<% end %>

<%= context_menu issues_context_menu_path %>
<%= render :partial => 'projects/add_sprint_close_project' %>

<script type="text/javascript"> 
var import_failed = "<%= flash[:import_action]%>"
import_failed == "false" ? $("#tabs").tabs({ active: 1 }) : $( "#tabs" ).tabs();
$("#uploadFile").click(function(){
  $( "#uploadBtn" ).trigger( "click" ); 
});
document.getElementById("uploadBtn").onchange = function () { 
// Replace fake path and showing only file name --> (this.value).replace(/.*[\/\\]/, '')) 
    document.getElementById("uploadFile").value = (this.value).replace(/.*[\/\\]/, '');
};
</script>

<script type="text/javascript">
  jQuery(document).ready(function($) {  
    var filter_text = $('select[id^="values_fixed_version_id_"] option:selected').text();
    //$('#h2_filter').html(filter_text.replace(filter_text.split('-')[0],''));
    if(filter_text=='')
      $('#h2_filter').html('General');
    else
      $('#h2_filter').html(filter_text);

    <%if params[:tid]=="1" || params["tracker_id"]=="1"%>
      $('.bugs').addClass('selected');
      //$("#tr_cf_6").find('span:first').show();
      //$("#tr_cf_6").find('span:hidden').remove();
    <%else%>
      $('.todo').addClass('selected');
    <%end%>

    //$("#filterMainDiv .filterDiv").hide();
    //$('#issue_fixed_version_id').val("<%=params[:sprint]%>");
    $('#issue_fixed_version_id').val($('#values_fixed_version_id_1').val());
    $('#import_fixed_version_id').val($('#values_fixed_version_id_1').val());
    <%if params[:v][:subject]%>
      $("#values_subject").val("<%=params[:v][:subject][0]%>")
    <%end%>

    if(<%= params[:op]!=nil && params[:op][:status_id]!='*' %>)
    {      
      if ($('#operators_status_id').val()!="=")
      {
        <% if params[:op] %>
        $('#operators_status_id').val("<%=params[:op][:status_id][0]%>"); 
        <% end%>
      } else {
        <% if params[:op] &&  params[:v]%>
        $('#operators_status_id').val("<%=params[:op][:status_id][0]%>");
        $('#values_status_id_1').val("<%=params[:v][:status_id][0]%>");
        <% end%>
      }
    }
    else
    {   

      $('#values_status_id_1').val("*");
      $('#operators_status_id').val("*");
      $('#operators_priority_id').val("*");
      $('#operators_author_id').val("*");
      $('#operators_severity_id').val("!");
    }
    $("#filters-table").find('select[id^="values_"]:not(#values_status_id_1)').change(function(){
      ddl_field_id = $(this).attr("id").split("values_")[1].split("_1")[0];
      if(($(this).val()=="me"))//For Assignee
        $("#operators_"+ddl_field_id).val("*");
      else if(($(this).val()!="*"))
        $("#operators_"+ddl_field_id).val("=");      
      else
        $("#operators_"+ddl_field_id).val("*");
    });
    
    // $('#values_cf_6_1').change(function(){  
    //   if(($(this).val()!="*"))
    //     $("#operators_cf_6").val("=");
    // });
 
    $('#issue_fixed_version_id').change(function(){  
      $('#values_fixed_version_id_1').val($(this).val());
      $('#import_fixed_version_id').val($(this).val());
      $('.filterBtn').click()
    });
    $('#values_status_id_1').change(function(){        
      if(($(this).val()=="*") || (($(this).val()=="o")))
        $('#operators_status_id').val($(this).val());
      else
        $('#operators_status_id').val("=");    
    });

    $('.new_issue').submit(function(form){    
      form.preventDefault();    
      $('.greenBtn').attr('disabled', true);
      $('.greenBtn').addClass('grayBtn');
      $.ajax({
      type: $(this).attr('method'),
      url: $(this).attr('action')+'?tid=<%= params["tid"]%>',
      data: $(this).serialize(),
      success: function(response){
        if(response.length<100)
        {
          showFlashError(response);
        }
        else
        {
          var tid = <%= params["tid"]%>;
          showFlashNotice('Successfully added!');
          $('#divIssues').html(response);
          $('#issue_subject').val('');
          tid == 1 ? $('#issue_estimated_hours').val('0') : $('#issue_estimated_hours').val('') ;
          $('#issue_description').val('');
          $('#attachments_fields').html('');
          $( "input[name*='issue[custom_field_values]']" ).val('')

          // $("#issue_fixed_version_id").val($("#issue_fixed_version_id option:first").val());
          // $('[id^="issue_custom_field_values_"]').val($('[id^="issue_custom_field_values_"] option:first').val());

          // var selfirst_text = $("#issue_fixed_version_id option:first").text();
          // $("#issue_fixed_version_id").next('.sbHolder').children(".sbSelector").html(selfirst_text);

          // var selfirst_text_1 = $('[id^="issue_custom_field_values_"] option:first').text();
          // $('[id^="issue_custom_field_values_"]').next('.sbHolder').children(".sbSelector").html(selfirst_text_1);

        }
        $('.greenBtn').removeAttr('disabled');
        $('.greenBtn').removeClass('grayBtn');
      }
    });
    return false;
  });   


    $('#issue_estimated_hours').keydown(function(e) {     
        // Ensure that it is a number and stop the keypress
        if(e.keyCode !=8) { //check if not backspace
          if(this.value.length > 3)
            return false;
          if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
              if(e.keyCode == 190 || e.keyCode == 110) {
              } else {
                e.preventDefault();
              }
          }
        }
        
     });

    $("#issue_subject").val('');  
    
});
</script>

<%= javascript_tag do %>
  observeAutocompleteField('time_entry_issue_id', '<%= escape_javascript auto_complete_issues_path(:project_id => @project, :scope => (@project ? nil : 'all'))%>', {
    select: function(event, ui) {
      $('#time_entry_issue').text(ui.item.label);
    }
  });
<% end %>