<div id="query_form_content" class="hide-when-print">
  <div id="filters" class="collapsible <%= @query.new_record? ? "" : "collapsed" %>">
    <h3 class="subTitleHeader"onclick="toggleFieldset(this);"><%= l(:label_filter_plural) %></h3>
    <div style="<%= @query.new_record? ? "" : "display: none;" %>">
      <%= render :partial => 'queries/filters_timelog', :locals => {:query => @query} %>
    </div>

    <% flag_group = 0 %>

    <% if !params.include?(:project_id) && !params.include?(:id) %>

      <% if User.current.admin? %>

      <% flag_group = 1 %>

      <table style="width:28%">
        <tr>
          <td>
            Group : 
          </td>
          <td>
            <%= select("","group_id", @groups_available.collect {|p| [ p.lastname, p.id ] }, :selected =>params[:group_id], :class => 'group_class') %>
          </td>
        </tr>
      </table>
    
      <% end %>

    <% end %>

  </div>
</div>

<p class="buttons hide-when-print">
  <%= link_to_function l(:button_apply), 'submit_query_form("query_form")', :class => 'greenBtn' %>
  <%= link_to l(:button_clear), {:project_id => @project, :issue_id => @issue}, :class => 'blueBtn'  %>
</p>

<div class="tabs">

<% query_params = params.slice(:f, :op, :v, :sort) %>
<ul>
    <% if !@project || @project.parent_id.present? || @project.name.strip.capitalize == "General activity" %>
    <li><%= link_to(l(:label_details), query_params.merge({:controller => 'timelog', :action => 'index', :project_id => @project, :issue_id => @issue, :group_id => params[:group_id] }),
                                       :class => (action_name == 'index' ? 'selected' : nil)) %></li>
                                       <%end%>

    <li><%= link_to(l(:label_report), query_params.merge({:controller => 'timelog', :action => 'report', :project_id => @project, :issue_id => @issue, :group_id => params[:group_id] }),
                                       :class => (action_name == 'report' ? 'selected' : nil)) %></li>
    <% if !@project || @project.parent_id.present? %>                                     
    <% if @admin_or_manager %>          
      <li><%= link_to(l(:label_unapproved), query_params.merge({:controller => 'timelog', :action => 'unapproved', :project_id => @project, :issue_id => @issue, :group_id => params[:group_id] }),
                                       :class => (action_name == 'unapproved' ? 'selected' : nil)) %></li>
    <%end%>
    <%end%>
    
</ul>
</div>

<script type="text/javascript">
  jQuery(document).ready(function($) {
    
    <% if flag_group==1 %>
    $("#tr_user_id").hide();
    <% end %>

    $("#add_filter_select option:first").text('Select');
    $("#add_filter_select option:first").attr('disabled',true);

  });
</script>