<%= error_messages_for 'time_entry' %>
<%= back_url_hidden_field_tag %>

<div class="box tabular">
  <% if @time_entry.new_record? %>
    <% if params[:project_id] || @time_entry.issue %>
      <%= f.hidden_field :project_id %>
    <% else %>
      <p><%= f.select :project_id, project_tree_options_for_select(Project.allowed_to(:log_time).all, :selected => @time_entry.project), :required => true %></p>
    <% end %>
  <% end %>
  <p>
    <%= f.text_field :issue_id, :size => 6 %>
    <span id="time_entry_issue"><%= h("#{@time_entry.issue.tracker.name} ##{@time_entry.issue.id}: #{@time_entry.issue.subject}") if @time_entry.issue %></span>
  </p>

  <% if find_project_managers(@project).map(&:user_id).include?(User.current.id) || User.current.admin? %>
  <p><%= f.select :user, @project.members.collect {|p| [ p.name, p.user_id ] }, :selected=>@time_entry.user_id %></p>
  <% end %>

  <p><%= f.text_field :spent_on, :id=>'time_entry_spent_on_new', :size => 10, :readonly => true, :required => true %><%= calendar_for('time_entry_spent_on_new') %></p>

  <p class="hoursAndMinutesPara">
    <%= render :partial => "hours_mins_project", :locals => {:f => f, :type=>"timelog"} %> 
  </p>

  <p class="formboxitem">
<!--       <label>Hours Type</label> -->
      <%      
      if @time_entry.hours_type
        selected_hours_type = "1"
      else
        selected_hours_type = "0"
      end
      @hours_type = [{:id => "0",:name => "billable"},{:id => "1",:name => "Non-billable"}]
      %>
    <%#= select("",:hours_type, options_for_select(hours_type, selected_hours_type), :class => 'formboxitem') %> 
    <%= f.select :hours_type, options_for_select(hours_type, selected_hours_type), :selected=>selected_hours_type %>&nbsp;

    </p>

  <p><%= f.text_field :comments, :size => 100, :required => true, :maxlength => 255 %></p>
  <p><%= f.select :activity_id, activity_collection_for_select_options(@time_entry), :required => true %></p>
  <% @time_entry.custom_field_values.each do |value| %>
    <p><%= custom_field_tag_with_label :time_entry, value %></p>
  <% end %>
  <%if @time_entry.approval_status%>
    <p><%= f.text_field :billable, :class=>"billing billable", :entryHours=> @time_entry.hours %></p>
    <p><%= f.text_field :non_billable, :class=>"billing non_billable", :entryHours=> @time_entry.hours %></p>
  <%elsif @time_entry.approval_status==false and @time_entry.user_id==User.current.id%>
    <input type='hidden' name='time_entry[approval_status]' value=''/>
  <%end%>  
  <%= call_hook(:view_timelog_edit_form_bottom, { :time_entry => @time_entry, :form => f }) %>
</div>

<%= javascript_tag do %>
  observeAutocompleteField('time_entry_issue_id', '<%= escape_javascript auto_complete_issues_path(:project_id => @project, :scope => (@project ? nil : 'all'))%>', {
    select: function(event, ui) {
      $('#time_entry_issue').text(ui.item.label);
    }
  });
<% end %>
<%= render :partial => "validation_script", :locals => {:page_type=>"edit_form"} %> 
<script type="text/javascript">
  jQuery(document).ready(function($) {
    var estimated_hours = "<%=@time_entry.hours%>";  
    if(estimated_hours!="")
    {
      var hours = estimated_hours.split('.')[0];
      if(hours!=undefined)
      {
        $('#time_entry_hours').val(hours);
      }
      var mins = estimated_hours.split('.')[1] +"";
      if(mins!=undefined)
      {
        if(mins.length==1)
          mins = mins + "0";
        $('#mins').val(mins);       
      }    
    }
    <%if @time_entry.approval_status%>      
      $('.billing').each(function(){ 
        var billable_mins = $(this).val().split('.')[1] +"";
        if(billable_mins!=undefined)
        {
          if(billable_mins.length==1)
          {
            billable_mins = $(this).val().split('.')[0] +"." + billable_mins + "0";
            $(this).val(billable_mins);       
          }
        }        
      });
    <%end%>
  });

</script>