
<%= hidden_field_tag 'back_url', url_for(params) %>
<div class="autoscroll">
<table class="list time-entries formTable">
<thead>
  <tr>
    <!-- <th class="checkbox hide-when-print">
      <%#= link_to image_tag('toggle_check.png'),
        {},
        :onclick => 'toggleIssuesSelection(this); return false;',
        :title => "#{l(:button_check_all)}/#{l(:button_uncheck_all)}" %>
    </th> -->
    <% @query.inline_columns_timelog.each do |column| %>
      <% column.sortable = nil %>
      <%= column_header(column) %>
    <% end %>    
    <th></th>
  </tr>
</thead>
<tbody>
<% sort_order = [false,nil,true] %>
<% sorted_entries = entries.sort_by{|e| sort_order.index(e[:approval_status])} %>
<% sorted_entries.each do |entry| %>
 <%#(entries.select(&:issue_id?).sort_by(&:issue_id) + @entries.reject(&:issue_id?)).reverse.each do |entry| -%>
  <tr class="time-entry <%= cycle("odd", "even") %> hascontextmenu">
    <!-- <td class="checkbox hide-when-print"><%#= check_box_tag("ids[]", entry.id, false, :id => nil) %></td> -->
    <%= raw @query.inline_columns_timelog.map {|column| "<td class=\"#{column.css_classes}\">#{column_content(column, entry)}</td>"}.join %>    
    <td align="center">

      <%# if (entry.editable_by?(User.current) && entry.approval_status != true) || (is_project_manager(User.current.id, entry.project_id ) == "Manager") -%>
      <%if entry.approval_status!=true and (@admin_or_manager or entry.user_id==User.current.id)%>
        <%= link_to image_tag('unapprovedEdit.png'), edit_time_entry_path(entry), :title => l(:button_edit) %>              
        <%= link_to image_tag('unapprovedDelete.png'), time_entry_path(entry),
               :data => {:confirm => l(:text_are_you_sure)},
               :method => :delete,
               :title => l(:button_delete) %>
      <%elsif entry.approval_status==true%> 
        <%if @admin_or_manager%>
          <%= link_to image_tag('unapprovedEdit.png'), edit_time_entry_path(entry), :title => l(:button_edit) %>       
        <%end%>
        <%= link_to image_tag('approvedActive.png'), 'javascript:;', :title => 'Approved', :style=>'cursor:default' %>
      <%end%>
      <%if entry.approval_status==false%>
        <%= link_to image_tag('rejectActive.png'), 'javascript:;', :title => 'Rejected', :style=>'cursor:default' %>
      <%end%>
    </td>
  </tr>
<% end -%>
</tbody>
</table>
</div>

<%= context_menu time_entries_context_menu_path %>
