<%@tot_unapproved_hours = html_hours(l_hours(TimeEntry.sum_hours(entries.find_all{|entry| entry.approval_status==nil}.collect(&:hours)))).to_s%>

<script type="text/javascript">
 $('#div_unapproved_time').html('<p><%= l(:label_total_time) %>: <%= @tot_unapproved_hours %></p><div class="bill-nonbill"><p><span><b style="color:green;">B</b>-Recommended Billable</span></p><p><span><b style="color:red;">NB</b>-Recommended Non-Billable</span></p></div> ');
</script>


<%= hidden_field_tag 'back_url', url_for(params) %>
<div class="autoscroll">
  <table class="list time-entries formTable">
  <thead>
    <tr>
      <% @query.inline_unapproved_timelog.each do |column| %>
        <%= column_header(column) %>
      <% end %>
      <%if @admin_or_manager%>
        <th>Billable</th>
        <th>Non-Billable</th>
      <%end%>
      <th>Actions</th>      
    </tr>
  </thead>
  <tbody>
  <% entries.group_by(&:project_id).each do |project_id, project_entries| %>
    <%if project_entries.find_all{|entry| entry.approval_status==nil}.count>0%>
    <!-- This if condition is to avoid displaying project name without entries to approve-->
      <tr>
        <td colspan='8'><h4><%=project_entries.first.project.name.strip.capitalize%></h4></td>
      </tr>
    <%end%>
    <%cycle_issue_id=0%>    
    <%project_entries.find_all{|entry| entry.approval_status==nil}.collect(&:issue_id).uniq.sort{|a,b| a && b ? a <=> b : a ? -1 : 1 }.reverse.each do |issue_id|%>
        <%current_css_class = cycle("unapproved_entries_odd", "unapproved_entries_even") %>
        <% issue_entries = project_entries.find_all{|item| item.issue_id==issue_id}%>
        <%entry=issue_entries.first%>
        <% issue_spent_time = TimeEntry.sum_hours(issue_entries.find_all{|entry| entry.approval_status==true}.collect(&:hours))%>
            <%if entry.issue.nil?%>
              <%@et,@bt,@nbt,issue_id=0%>
              <%@subject=""%>
              <%@tracker_id=""%>              
            <%else%>
              <%@subject=entry.issue.subject%>
              <%@tracker_id=entry.issue.tracker_id%>
              <%if entry.issue.estimated_hours.nil?%>
                <%@et = "0"%>
              <%else%>
                <%@et = "%.2f" % entry.issue.estimated_hours %>
              <%end%>
                <%@bt = "%.2f" % entry.issue.billable.to_f.round(2)%>                       
                <%@nbt = "%.2f" % entry.issue.non_billable.round(2)%>            
            <%end%>
            <%if !entry.issue.nil?%>                  
              <tr class="time-entry <%=current_css_class%>">
                <td colspan='4' title="<%=entry.issue.subject%>">
                  <b><a href="<%=issue_path(entry.issue.id)%>"><%=entry.issue.tracker%> #<%=entry.issue_id%>:&nbsp;<%=entry.issue.subject.truncate(100)%></a></b>&nbsp;&nbsp;&nbsp;&nbsp;
                </td>
                <td colspan='3'>            
                  <span>
                    <span class='ET grayBox'>E</span>&nbsp;
                    <%= @et%>                             
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  </span> 
                  <span>
                    <span class='BT grayBox'>B</span>&nbsp;            
                   <%= @bt%>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  </span>
                  <span>
                    <span class='NBT grayBox'>NB</span>&nbsp;
                    <%= @nbt%>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;          
                  </span>
                  <span>
                    <span class='NBT grayBox'>S</span>&nbsp;
                    <%if issue_spent_time.to_i > 0%>            
                      <%= issue_spent_time%>            
                    <%else%>
                      0            
                    <%end%>          
                  </span> 
                </td>
                <td colspan='2'>
                  <input class='greenBtn' type='button' value="Approve All" onclick="fnApproveAllIssueEntries(<%=issue_id%>)"/>&nbsp;&nbsp;
                  <input class='pinkBtn' type='button' value="Reject All" onclick="fnRejectAllIssueEntries(<%=entry.issue_id%>);"/>            
                </td>
              </tr>
            <%elsif entry.project_id==@general_activity_project.id%>
              <tr class="time-entry <%=current_css_class%>">
                <td colspan='7' align='center'>
                  <b>Time entries for General Activity</b>
                </td>
                <td colspan='1'>
                  <input class='greenBtn' type='button' value="Approve All" onclick="fnApproveAllIssueEntries('ga')"/>&nbsp;&nbsp;
                  <input class='pinkBtn' type='button' value="Reject All" onclick="fnRejectAllIssueEntries('ga');"/>
                </td>
              </tr>
            <%elsif entry.issue.nil?%>
              <tr class="time-entry <%=current_css_class%>">
                <td colspan='7' align='center'>
                  <b>Entries without issues associated</b>
                </td>
                <td colspan='1'>
                  <input class='greenBtn' type='button' value="Approve All" onclick="fnApproveAllIssueEntries(0)"/>&nbsp;&nbsp;
                  <input class='pinkBtn' type='button' value="Reject All" onclick="fnRejectAllIssueEntries(0);"/>
                </td>
              </tr>
            <%end%>
      <% issue_entries.find_all{|item| item.issue_id==issue_id}.each do |entry| -%>         
          <%if issue_id!=nil or entry.approval_status.nil?%>          
          <!-- This condition will not show general activity/issueless logs that are either approved or rejected -->                        
            <%if entry.project_id==@general_activity_project.id%>
            <tr class="time-entry <%= current_css_class %> hascontextmenu tr_issue_<%=issue_id.nil? ? 'ga' : issue_id%> <%='new' if entry.approval_status.nil? %>">             
            <%else%>
            <tr class="time-entry <%= current_css_class %> hascontextmenu tr_issue_<%=issue_id.nil? ? 0 : issue_id%> <%='new' if entry.approval_status.nil? %>" et="<%=@et%>" bt="<%=@bt%>" nbt="<%=@nbt%>" issueId=<%=issue_id%> issueSubject='<%=@subject%>' projectName="<%=entry.project.name.strip.capitalize%>" st="<%=issue_spent_time%>" tid="<%=@tracker_id%>">          
            <%end%>
              <%= raw @query.inline_unapproved_timelog.map {|column| "<td class=\"#{column.css_classes}\">#{column_content(column, entry)}</td>"}.join %>
              <span>
                <% 
                non_billing_highlight_class, billing_highlight_class = ""
                if entry.hours_type? 
                   non_billing_highlight_class = "non-billing-highlight"
                elsif entry.hours_type.nil?
                   non_billing_highlight_class = "non-billing-highlight"
                else 
                   billing_highlight_class = "billing-highlight"
                end 
                %> 
              </span>

              <%if @admin_or_manager #&& entry.project.name!="general activity"%>
                <% if !entry.issue.nil? %>
                  <%if entry.approval_status==true%>
                    <%@logs_billable_hours = "%.2f" % entry.billable.to_f.round(2) %>
                    <%@logs_non_billable_hours = "%.2f" % entry.non_billable.to_f.round(2)  %>
                  <%elsif entry.approval_status==false%>
                    <%@logs_billable_hours = 0 %>
                    <%@logs_non_billable_hours = "%.2f" % entry.hours.to_f.round(2)  %>
                  <%elsif entry.issue.estimated_hours.nil?%>
                    <% entry_hours =  "%.2f" % entry.hours.to_f.round(2) %>
                    <%if entry.hours_type?%> 
                      <%@logs_billable_hours = '0.00' %>
                      <%@logs_non_billable_hours = entry_hours%>
                    <%else%>
                      <%@logs_non_billable_hours = '0.00' %>
                      <%@logs_billable_hours = entry_hours%>
                    <%end%>
                    <%#@logs_billable_hours= "%.2f" % entry.hours.to_f.round(2) %>
                    <%#@logs_non_billable_hours = '0' %>
                  <%else%>
                    <% issues_estimated_hours = "%.2f" % entry.issue.estimated_hours.to_f.round(2)%>
                    <% issue_billable_hours = "%.2f" % entry.issue.billable.to_f.round(2) %>
                    <% entry_hours =  "%.2f" % entry.hours.to_f.round(2) %>                
                    <%if issue_billable_hours >= issues_estimated_hours%>                
                      <%#@logs_non_billable_hours= entry_hours %>
                      <%#@logs_billable_hours = '0.0' %>
                       <%if entry.hours_type?%> 
                        <%@logs_billable_hours= '0.00' %>
                        <%@logs_non_billable_hours = entry_hours %>
                       <%else%>
                        <%@logs_billable_hours= entry_hours %>
                        <%@logs_non_billable_hours = '0.00' %>
                       <%end%>
                    <%elsif issue_billable_hours.to_i==0%>   
                      <%@logs_billable_hours= [entry_hours,issues_estimated_hours].min.to_f.round(2) %>

                      <%if entry.hours.to_f.round(2) > issues_estimated_hours.to_f.round(2)%>
                         <%@logs_non_billable_hours = TimeEntry.subtract_hours(entry_hours,issues_estimated_hours)%>
                      <%else%>
                        <%if entry.hours_type?%> 
                          <%@logs_billable_hours= '0.00' %>
                          <%@logs_non_billable_hours = entry_hours %>
                         <%else%>
                          <%@logs_billable_hours= entry_hours %>
                          <%@logs_non_billable_hours = '0.00' %>
                         <%end%>                     
                      <%end%>

                    <%else%>
                      <% @total_billable_hours = TimeEntry.sum_hours([entry.hours,issue_billable_hours] )%>

                      <% if @total_billable_hours.to_f > issues_estimated_hours.to_f %>
                        <%@logs_billable_hours= TimeEntry.subtract_hours(issues_estimated_hours,issue_billable_hours) %>
                        <%@logs_non_billable_hours = TimeEntry.subtract_hours(entry_hours, @logs_billable_hours)%>                        
                      <%else%> 
                         <%if entry.hours_type?%> 
                          <%@logs_billable_hours= '0.00' %>
                          <%@logs_non_billable_hours = entry_hours %>
                         <%else%>
                          <%@logs_billable_hours= entry_hours %>
                          <%@logs_non_billable_hours = '0.00' %>
                         <%end%>
                      <%end%>

                    <%end%>
                  <%end%>
                <%end%>                                           
                <% if !entry.issue.nil? && entry.approval_status!=false%>
                  <td> 
                    <span class="BT <%= billing_highlight_class%>" ><strong>B</strong></span>&nbsp;
                    <% if entry.approval_status? %>
                      <input type='text' id="txt_bh_<%=entry.id%>" name='issue[billable][]' class='billable billing' entryHours="<%=entry.hours%>" issueId="<%=entry.issue_id%>" entryId="<%=entry.id%>" value="<%=@logs_billable_hours%>" readonly='true' />
                    <% else %>
                      <input type='text' id="txt_bh_<%=entry.id%>" name='issue[billable][]' class='billable billing' entryHours="<%=entry.hours%>" issueId="<%=entry.issue_id%>" entryId="<%=entry.id%>" value="<%=@logs_billable_hours%>"/>
                    <%end%>
                  </td>
                  <td>
                    <span class="NBT <%= non_billing_highlight_class%>"><strong>NB</strong></span>&nbsp;
                    <% if entry.approval_status? %>
                      <input type='text' id="txt_nbh_<%=entry.id%>"  name='issue[non_billable][]' class='non_billable billing' entryHours="<%=entry.hours%>" issueId="<%=entry.issue_id%>" entryId="<%=entry.id%>" value="<%=@logs_non_billable_hours%>" readonly='true' />
                    <% else %>
                      <input type='text' id="txt_nbh_<%=entry.id%>"  name='issue[non_billable][]' class='non_billable billing' entryHours="<%=entry.hours%>" issueId="<%=entry.issue_id%>" entryId="<%=entry.id%>" value="<%=@logs_non_billable_hours%>" />
                    <%end%>
                  </td>
                <%else%>
                  <td>
                    <center>-</center>                  
                    <input type='text' class='billable billing' entryId="<%=entry.id%>" id="txt_bh_<%=entry.id%>" value='<%=entry.project_id==@general_activity_project.id ? 0.0 : entry.hours%>' style='display:none'/>
                  </td>
                  <td>
                    <center>-</center>
                    <input type='text' class='non_billable billing' entryId="<%=entry.id%>" id="txt_nbh_<%=entry.id%>" value='<%=entry.project_id==@general_activity_project.id ? entry.hours : 0.0%>' style='display:none'/>              
                  </td>
                <%end%>
              <%end%>
              <!-- <td>
                <%#if entry.project.name!="general activity" and !entry.issue_id.nil?%>
                  <%#= link_to image_tag('View.png'), "javascript:fnViewIssueDetails(#{issue_id.nil? ? 0 : issue_id});", :title => 'View Details', :style=>'cursor:pointer', :issue_id=>issue_id %>
                <%#else%>
                  <center>-</center>
                <%#end%>
              </td>  -->
              <td align="center">
                <% if @admin_or_manager -%>
                  <% if entry.approval_status==true%>
                    <%= link_to image_tag('approvedActive.png'), 'javascript:;', :title => 'APPROVED', :style=>'cursor:default' %>
                    <%= link_to image_tag('rejectDisabled.png'), 'javascript:;', :style=>'cursor:default' %>
                  <% elsif entry.approval_status==false%>
                    <%= link_to image_tag('approvedDisabled.png'), 'javascript:;', :style=>'cursor:default' %>
                    <%= link_to image_tag('rejectActive.png'), 'javascript:;', :title => 'REJECTED', :style=>'cursor:default' %>
                  <%end%>
                  <%if @admin_or_manager %>          
                    <% if entry.approval_status.nil?%>
                      <%= link_to image_tag('approvedNormal.png'), 'javascript:;',:onclick=>"fnModifyLogApproval(#{entry.id},#{entry.issue_id.nil? ? '0' : entry.issue_id},'approve');",
                                                       :title => 'Approve' %>
                      <%= link_to image_tag('rejectNormal.png'), "javascript:fnModifyLogApproval(#{entry.id},#{entry.issue_id.nil? ? '0' : entry.issue_id},'reject');",:title => 'Reject' %>
                    <%end%>
                  <%end%>                
                  <%= link_to image_tag('unapprovedEdit.png'), edit_time_entry_path(entry),
                           :title => l(:button_edit) %>                
                  <%if entry.approval_status!=true%>
                    <%= link_to image_tag('unapprovedDelete.png'), time_entry_path(entry),
                           :data => {:confirm => l(:text_are_you_sure)},
                           :method => :delete,
                           :title => l(:button_delete) %>
                  <%else%>
                    <%= link_to image_tag('unapprovedDelete.png'), 'javascript:;', :style=>'cursor:default' %>
                  <%end%>
                <% end -%>
              </td>
            </tr>
            <%end%>
          <%end%>
        <%end -%>
      <%end%>
    <%#end%>
    </tbody>
  </table>
</div>
<div id='divIssueDetails' style='display:none'></div>  
<div id='divIssueDetailsTemplate' style='display:none'>  
  <div  class="popUpContainer">   
    <h3>{{trackerTitle}} <span> #{{tracker}}</span></h3>
    <p>{{issue_subject}}</p>
    <table class="formTable">
      <tr>
        <th>Estimate Time</th>
        <th>Spent Time</th>
        <th>Billable Time</th>
        <th>Non Billable Time</th>
      </tr>
      <tr>
        <td>{{estimated_time}}</td>
        <td>{{spent_time}}</td>
        <td>{{billable_time}}</td>
        <td>{{non_billable_time}}</td>
      </tr>
    </table>   
  </div>
  <div class="popupButtonDiv">
    <input class='greenBtn' type='button' value="Approve All" onclick="fnApproveAllIssueEntries({{issue_id}})"/>
    <input class='pinkBtn' type='button' value="Reject All" onclick="fnRejectAllIssueEntries({{issue_id}});"/>
  </div>
</div>
<%= render :partial => "validation_script", :locals => {:page_type=>"unapproved"} %> 
<%= context_menu time_entries_context_menu_path %>
<script>
function fnApproveAllIssueEntries(issue_id){  
  var json_array=[];    
  var data=[];  
  $('.tr_issue_'+issue_id).each(function(){  
      if($(this).hasClass('new'))//Only the tr that has neither approved nor rejected will have class new
      {
        var log_id = $(this).find('.billable').attr('entryid');
        var row={
          "id":log_id,        
          "billable":$('#txt_bh_'+log_id).val(),
          "non_billable":$('#txt_nbh_'+log_id).val()
          };     
        data.push(row);       
      }
  });    
  
  var ajax_data = {"multiple_entries":data,"issue_id":issue_id,"log_status":'approve',"filter_params":<%= @filter_params.to_json.html_safe%>};  
  $.ajax({
    url: "<%= update_approval_status_path %>",
    type: 'post',
    data: ajax_data,
    success: function(response){
      $("#unapproves_details").html(response);
    }
  });  
}

function fnRejectAllIssueEntries(issue_id){
  var json_array=[];    
  var data=[];  
  $('.tr_issue_'+issue_id).each(function(){  
      if($(this).hasClass('new'))//Only the tr that has neither approved nor rejected will have class new
      {
        var log_id = $(this).find('.billable').attr('entryid');
        var row={
          "id":log_id
          };     
        data.push(row);       
      }
  });    
  
  var ajax_data = {"multiple_entries":data,"issue_id":issue_id,"log_status":'reject',"filter_params":<%= @filter_params.to_json.html_safe%>};  
  $.ajax({
    url: "<%= update_approval_status_path %>",
    type: 'post',
    data: ajax_data,
    success: function(response){
      $("#unapproves_details").html(response);
    }
  });  
}

function fnModifyLogApproval(log_id,issue_id,log_status)
{   
  //issued_id will be replaced with '0' if null  
  var ajax_data = {
    "id":log_id,
    "issue_id":issue_id,
    "log_status":log_status,
    "billable":$('#txt_bh_'+log_id).val(),
    "non_billable":$('#txt_nbh_'+log_id).val(),
    "filter_params":<%= @filter_params.to_json.html_safe%>
  };
  $.ajax({
    url: "<%= update_approval_status_path %>",
    data: ajax_data,
    success: function(response){
      $("#unapproves_details").html(response);
    }
  });
}

function fnViewIssueDetails(issue_id)
{
  e = $('.tr_issue_'+issue_id);
  var et = typeof(e.attr('et'))!=undefined ? e.attr('et') : "0";
  var bt = typeof(e.attr('bt'))!=undefined ? e.attr('bt') : "0";
  var nbt = typeof(e.attr('nbt'))!=undefined ? e.attr('nbt') : "0";
  var st = typeof(e.attr('st'))!=undefined ? e.attr('st') : "0";
  var subject = e.attr('issueSubject');
  var trackerTitle = e.attr('tid')=="1" ? "Bug" : "Task";
  var tracker = e.attr('tid')=="1" ? issue_id :  issue_id;

  //alert("Subject:"+subject+"\n for issue ID:"+issue_id+"\nEstimated Time:"+et+"\nBillable Time:"+bt+"\nNon Billable Time:"+nbt);
  
  var html_content=$('#divIssueDetailsTemplate').html();
  html_content = html_content.replace("{{issue_subject}}",subject);
  html_content = html_content.replace("{{estimated_time}}",et);
  html_content = html_content.replace("{{spent_time}}",st);
  html_content = html_content.replace("{{billable_time}}",bt);
  html_content = html_content.replace("{{non_billable_time}}",nbt);  
  html_content = html_content.replace("{{issue_id}}",issue_id);
  html_content = html_content.replace("{{issue_id}}",issue_id);
  html_content = html_content.replace("{{trackerTitle}}",trackerTitle);
  html_content = html_content.replace("{{tracker}}",tracker);
  
  $('#divIssueDetails').html(html_content).dialog({
     resizable: false,
     title: e.attr('projectName'),
     width: 700,
     modal: true,
     position: "center",
     hide : "puff"
  });  
}


</script>

