
<!--<div class="contextual">

<%= link_to("Add Sprint", new_project_version_path(@project), :class => 'addNewDirectoryIcon ') if User.current.allowed_to?(:manage_versions, @project) %>
</div>

<h2 class="title">Sprint</h2>

-->

<% if !@sprints.empty? %>
<% for sprint in @sprints %>

<%

@issues_task = Issue.where(:fixed_version_id => sprint.id).where(:tracker_id => 1)
@issues_bugs = Issue.where(:fixed_version_id => sprint.id).where(:tracker_id => 2)

cond = @project.project_condition(Setting.display_subprojects_issues?)
if User.current.allowed_to?(:view_time_entries, @project)
      @tot_hours = TimeEntry.visible.sum(:hours, :include => :project, :conditions => cond).to_f
    end

    %>

    <% issuecount = 0 %>
  <% issuecount_total = 0 %>
  <% if @issues_task.present? %>
  <% for myissue in @issues_task %>
  <% issuecount = issuecount + myissue.done_ratio %>
  <% issuecount_total = issuecount_total + 1 %>
  <% end %>
  <% end %>
  
  <% if issuecount != 0 %>
  <% issuecalc = issuecount/issuecount_total %>
  <% else %>
  <% issuecalc = 0 %>
  <% end %>

  <% issuecount1 = 0 %>
  <% issuecount_total1 = 0 %>
  <% if @issues_bugs.present? %>
  <% for myissue1 in @issues_bugs %>
  <% issuecount1 = issuecount1 + myissue1.done_ratio %>
  <% issuecount_total1 = issuecount_total1 + 1 %>
  <% end %>
  <% end %>
  
  <% if issuecount1 != 0 %>
  <% issuecalc1 = issuecount1/issuecount_total1 %>
  <% else %>
  <% issuecalc1 = 0 %>
  <% end %>

<div class="twoColumn">
  <div class="contentLeftColumnContent">
        <h1 class="sprintHeader"><%= sprint.name %><span class="editSprint"><%= link_to("Edit Sprint", edit_version_path(sprint), :title=>"Edit", :class => 'addNewDirectoryIcon ') if User.current.allowed_to?(:manage_versions, @project) %></span></h1>

        

        <h3 class="sprintTitle"><span>Sprint Description : </span><%= sprint.description %></h3>
        <div class="progressField">

        	<h4>Tasks Completeness <label><%= issuecalc %>%</label></h4>
        
            <div class="progressBar">
  <div class="progressCompleted" role="progressbar" aria-valuenow="<%= issuecalc %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= issuecalc %>%;">
  </div>
</div>

<br>

<h4>Bugs Completeness <label><%= issuecalc1 %>%</label></h4>

<div class="progressBar">
  <div class="progressCompleted" role="progressbar" aria-valuenow="<%= issuecalc1 %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= issuecalc1 %>%;">
  </div>
</div>

<br>


        </div>
        <article class="projectDetails">
            <ul>
            <li>
                <label class="detailProperty">Total no of Tasks</label>
                <label class="detailSeparator">:</label>
                <label class="detailValue"><%= @issues_task.size %></label>
            </li>
            <li>
                <label class="detailProperty">Total no of Bugs</label>
                <label class="detailSeparator">:</label>
                <label class="detailValue"><%= @issues_bugs.size %></label>
            </li>
            </ul>
        </article>
    </div>
</div>
<% end %>


<% else %>
<div id="addSprintDiv">
  <div>Sprints are yet to be created by the managers!</div>
  <%= link_to("Add Sprint", new_project_version_path(@project), :class => 'addNewDirectoryIcon ') if User.current.allowed_to?(:manage_versions, @project) %>

</div>

<% end %>

<% content_for :sidebar do %>
    <% if @total_hours.present? %>
    <aside class="contentRightColumn">
      <h3><%= l(:label_spent_time) %></h3>
      <div class="rightSideBarInnerContent spentTimeRightSideDiv marginLeftZero">
        <p><span class="icon icon-time"><%= l_hours(@total_hours) %></span></p>
        <p>
          <% if User.current.allowed_to?(:log_time, @project) %>
            <%= link_to l(:button_log_time), new_project_time_entry_path(@project) %> |
          <% end %>
          <%= link_to(l(:label_details), project_time_entries_path(@project)) %>
        </p>
      </div>
    </aside>
      <% end %>
      <%= call_hook(:view_projects_show_sidebar_bottom, :project => @project) %>
<% end %>



<script type="text/javascript">
jQuery(document).ready(function($) {


    $(".leftInnerContainer").addClass("sprintContainer");
    $('#addSprintDiv') .parent().removeClass('sprintContainer');

    var divHeight = $(window).height() -350;
      
    $("#addSprintDiv").css('height',divHeight);


  
  });

</script>




