
  <div class="contextual">
  <%= link_to l(:label_document_new), new_project_document_path(@project), :class => 'icon icon-add',
        :onclick => 'showAndScrollTo("add-document", "document_title"); return false;' if User.current.allowed_to?(:add_documents, @project) %>
  </div>
  <div id="add-document" style="display:none;">
  <h2 class="title"><%=l(:label_document_new)%></h2>
  <%= labelled_form_for @document, :url => project_documents_path(@project), :html => {:multipart => true} do |f| %>
  <%= render :partial => 'form', :locals => {:f => f} %>
  <p class="inputSubmitBtnPara">
    <%= submit_tag l(:button_create),:class=>'greenBtn' %>
    <%= link_to l(:button_cancel), "#",:onclick => 'showAndHideTo(); return false;',:class=>'blueBtn' %>
  </p>
  <% end %>
  </div>


<div id="divDocumentSection">
<h2 class="title"><%=l(:label_document_plural)%></h2>

<section class="DocumentsContent">
  <ul class="FolderList">
    <% @ducument_category.each_with_index do |category,counter| %>
        <li><a href="#" onclick="selectCategory('<%= project_documents_path(@project.id) %>','<%= category.id %>',this)", class="<%= counter==0 ? 'Selected' : '' %>"><span><%= category.name %></span></a></li>
    <%end%>
  </ul>
    <div id = "divTableDocument">
<%= render :partial => 'documents/document', :locals=> {:documents=>@documents,:category=>@category}%>
</div>
</section>

</div>
<%= render :partial => 'projects/add_sprint_close_project' %>

<%# content_for :sidebar do %>

<%#= render :partial => 'layouts/projects_sidebar' %>

 <!--<aside class="contentRightColumn" >
  <h3><%#= l(:label_sort_by, '') %></h3>
  <div class="contentRightColumnContent" id="sortByDiv">
    <ul>
      <li <%# if params[:sort_by] == 'category' %> class='li_selected' <%# end %> ><%#= link_to l(:field_category),{:sort_by => 'category'}, :class => (@sort_by == 'category' ? 'selected' :nil),:class=>'category' %></li>
      <li <%# if params[:sort_by] == 'date' %> class='li_selected' <%# end %> ><%#= link_to l(:label_date), {:sort_by => 'date'}, :class => (@sort_by == 'date' ? 'selected' :nil),:class=>'date' %></li>
      <li <%# if params[:sort_by] == 'title' %> class='li_selected' <%# end %> ><%#= link_to l(:field_title), {:sort_by => 'title'}, :class => (@sort_by == 'title' ? 'selected' :nil),:class=>'title' %></li>
      <li<%# if params[:sort_by] == 'author' %> class='li_selected' <%# end %> ><%#= link_to l(:field_author), {:sort_by => 'author'}, :class => (@sort_by == 'author' ? 'selected' :nil),:class=>'author' %></li>
  </ul>
  </div>
</aside>-->
<%# end %>
<% html_title(l(:label_document_plural)) -%>

<%= javascript_tag do %>
  observeAutocompleteField('time_entry_issue_id', '<%= escape_javascript auto_complete_issues_path(:project_id => @project, :scope => (@project ? nil : 'all'))%>', {
    select: function(event, ui) {
      $('#time_entry_issue').text(ui.item.label);
    }
  });
<% end %>



