<h2><%=l(:label_document_new)%></h2>

<%= labelled_form_for @document, :url => project_documents_path(@project), :html => {:multipart => true} do |f| %>
  <%= render :partial => 'form', :locals => {:f => f} %>
  
  <%= submit_tag l(:button_create),:class=>'greenBtn' %>
  <%= link_to l(:button_cancel), project_documents_path(@project),:class=>'blueBtn cancelDoc topAdjust' %>


<% end %>

<script type="text/javascript">



</script>
