<%= javascript_include_tag 'jquery.min' %>
<%= javascript_include_tag 'jquery.nicescroll.min' %>

<div class="contextual">
<% if @document.status != 'approved' %>
  <% if User.current.allowed_to?(:edit_documents, @project) %>
  <%= link_to l(:button_edit), edit_document_path(@document), :class => 'icon icon-edit', :accesskey => accesskey(:edit) %>
  <% end %>
  <% if User.current.allowed_to?(:delete_documents, @project) %>
  <%= delete_link document_path(@document) %>
  <% end %>
<% end %>
</div>

<h2 class="title"><%=h @document.category.name %></h2>

<div class="docFlsAprve">
  <section>
    <h2><%=h @document.title %></h2>
    <div class="wiki">
    <%= textilizable @document, :description, :attachments => @document.attachments %>
    </div>
    <%= link_to_attachments_custom @document,@attachments %>
    <!-- client show page -->
    <div id = "ajaxapprove">
      <% if find_project_clients(@project,@document).map(&:user_id).include?(User.current.id) && @document.status != 'rejected' && @document.approved != true %>

        <% if @attachments.present? %>

          <br>

          <textarea id="comment_field" ></textarea>

          <br>

          <%= check_box_tag 'accept' %> I approve this document.<!-- I agree to the Techaffinity<a href="javascript:void(0)" class="termsCondition"> Terms Of Services and Privacy Policy</a> -->

          <br>

          <br>

          <div id="termsvalid" style="display:none;">

            <p>Please make sure that you confirm for approving this document.</p>
            <br>
          </div>


          <%= link_to l(:button_approve), "javascript:void(0)",:class=> "greenBtn approveDoc", :onclick => "approveDocumentWithTerms('#{document_path(@document.id)}/approve',$('#comment_field').val(), $('#accept'))" %>
          <%= link_to l(:button_reject), "javascript:void(0)",:class=> "blueBtn", :onclick => "approveOrRejectDocument('#{document_path(@document.id)}/reject',$('#comment_field').val())" %>

        <% end %>
    
      <%else%>
          <!---For message box-->
        <% if @document.status == 'approved' %>
          <div class="MessageBox Approved">
            <span>Document Approved by <%=User.find(@document.try(:client_id)).try(:firstname).try(:capitalize)%></span>

            <% if @document.comment.present? %>

            <br /><br />Remark:  <font color="gray"><%= @document.comment%></font>

            <% end %>

          </div>
        <% end %>
         
        <%if @document.status == 'rejected' %>
          <div class="MessageBox Rejected">
            <span>Document Rejected</span>

            <% if @document.comment.present? %>

            <br /><br />Remark: <font color="gray"><%= @document.comment%></font>

            <% end %>

          </div>
        <%end%>

        <%if @document.status == 'request' && !@token.present?  %>
          <div class="MessageBox Pending">
            <% if @attachments.present? %>
            <span>Document Approval Pending</span>
            <% else %>
            <span>No files found under this document. Upload file so that client will have visibility to approve for the same.</span>
            <% end %>
          </div> 
        <%end%>
      <%end%>
         
   </div>
   <!-- client show page ends here -->

   <br>
  <% if @document.status != 'rejected' && @document.approved != true %>

  <% if authorize_for('documents', 'add_attachment') %>
  <span class="add_doc_attachment">
  
  <%= link_to l(:label_attachment_new), {}, :onclick => "$('#add_attachment_form').show(); return false;",
                                               :id => 'attach_files_link' %>
  </span>
  <%= form_tag({ :controller => 'documents', :action => 'add_attachment', :id => @document }, :multipart => true, :id => "add_attachment_form", :style => "display:none;") do %>
  <div class="box bottomMargin">
  <p id="attachDocVersion">
        <%= render :partial => 'attachments/form' %>
  </p>
  </div>
  <%= submit_tag(l(:button_add), :class=>"greenDocVersion") %>
  <%= link_to l(:button_cancel), {}, :class=>"blueBtn topAdjust", :onclick => "$('#add_attachment_form').hide();$('.file_selector').val('');$('#attachments_fields').children('span').remove(); return false;" %>
  <% end %>
  <% end %>

  <% end %>

</section>

<% if (find_project_clients(@project,@document).map(&:user_id).include?(User.current.id) || find_project_managers(@project,@document).map(&:user_id).include?(User.current.id) || User.current.admin?) %>

<div class="Conversation">

<div class="documentConversation" id="documentConversation">
<%= render :partial => 'show_conversations' %>
</div>

<%= render :partial => 'form_document_conversation' %>

</div>

<% end %>

</div>

<div id="dialog" title="Terms and Conditions" style="display:none;">
  <p>Please accept the company privacy and terms specified for the secured information and assets protecting from both employment side, business side and the project owner side.</p>
</div>

<div id="popup_box" style="display:none;">    <!-- OUR PopupBox DIV-->
    <h4>
The standard Lorem Ipsum passage, used since the 1500s
</h4><p>
"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
</p><h4>
Section 1.10.32 of "de Finibus Bonorum et Malorum", written by Cicero in 45 BC
</h4><p>
"Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?"

    </p>

    

    <%= link_to (image_tag "popupclose.png", :id => "popupBoxClose") %><br/>

</div>

<div id="termserror" style="display:none;">
  <p>Please make sure that you confirm for approving this document.</p>
</div>

<script>

$("#attachments_fields").hide();

$(".termsCondition").click(function(){
  loadPopupBox();
})

window.onbeforeunload = null;

$('#popupBoxClose').click( function() { 
            window.onbeforeunload = null;
            unloadPopupBox();
        });

$('#popupBoxClose_error').click( function() {            
            unloadPopupBox_error();
        });
        
      
function loadPopupBox() {    // To Load the Popupbox
            $('#popup_box').fadeIn("slow");         
        } 

function unloadPopupBox() {    // TO Unload the Popupbox
            $('#popup_box').fadeOut("slow"); 
        } 


$(function(){

$("#documentConversation").niceScroll();

var objDiv = document.getElementById("documentConversation");
objDiv.scrollTop = objDiv.scrollHeight;




// When site loaded, load the Popupbox First
      

});

</script>

<% html_title @document.title -%> 
