<h2 class="title"><%=l(:label_project_new)%></h2>

<%= labelled_form_for @project do |f| %>
<%= render :partial => 'form', :locals => { :f => f } %>
<%= submit_tag l(:button_create),:class=>'greenBtn' %>
<%= javascript_tag "$('#project_name').focus();" %>
<% end %>



<script type="text/javascript">
 jQuery(document).ready(function($) {

   var spanDom = "<span class='textareaSpan'></span>";
   var jstElements = $(".jstElements");
   var jstEditor = $(".jstEditor");
   
   $(".jstElements").parent().append(spanDom);
   
   $( ".textareaSpan" ).append(jstElements);
   $( ".textareaSpan" ).append(jstEditor);

   	<%if !params.has_key?(:project_id) && @custom_project_id.nil? %>		
		$('h2.title').html("New Account")
	<%end%>

	$('.hasDatepicker').datepicker( "option", "minDate", null);
	$('.hasDatepicker').datepicker( "option", "maxDate", null);

$('#project_custom_field_values_30').change(function()
{ 
  if($(this).val()!='')
  {
  var min_date = $('#project_custom_field_values_30').val();
  $('#project_custom_field_values_32').datepicker("option","maxDate",min_date);
  }
});


 	});
</script>