
<!--<div class="contextual">

<%#= link_to("Add Sprint", new_project_version_path(@project), :class => 'addNewDirectoryIcon ') if User.current.allowed_to?(:manage_versions, @project) %>
</div>

<h2 class="title">Sprint</h2>

-->
<% if !@sprints.empty? %>
<% for sprint in @sprints %>
<%
  @issues_task = @all_issues.find_all{|item| item.tracker_id == 2 && item.fixed_version_id == sprint.id}
  @issues_task_closed = @all_issues.find_all{|item| item.tracker_id == 2 && item.status_id == 5 && item.fixed_version_id == sprint.id}
  @issues_bugs = @all_issues.find_all{|item| item.tracker_id == 1 && item.fixed_version_id == sprint.id && item.status_id != 6}
  @issues_bugs_closed = @all_issues.find_all{|item| item.tracker_id == 1 && item.status_id == 5 && item.fixed_version_id == sprint.id}

  @total_issue_size = (@issues_task.size + @issues_bugs.size)
  @total_issue_closed_size = (@issues_task_closed.size + @issues_bugs_closed.size)
%>



  <% issuecount = 0 %>
  <% issuecount_total = 0 %>
  <% if @issues_task.present? %>
  <% for myissue in @issues_task %>
  <% issuecount = issuecount + myissue.done_ratio %>
  <% issuecount_total = issuecount_total + 1 %>
  <% end %>
  <% end %>
  
  <% if issuecount != 0 %>
  <% issuecalc = issuecount/issuecount_total %>
  <% else %>
  <% issuecalc = 0 %>
  <% end %>

  <% issuecount1 = 0 %>
  <% issuecount_total1 = 0 %>
  <% if @issues_bugs.present? %>
  <% for myissue1 in @issues_bugs %>
  <% issuecount1 = issuecount1 + myissue1.done_ratio %>
  <% issuecount_total1 = issuecount_total1 + 1 %>
  <% end %>
  <% end %>
  
  <% if issuecount1 != 0 %>
  <% issuecalc1 = issuecount1/issuecount_total1 %>
  <% else %>
  <% issuecalc1 = 0 %>
  <% end %>

  <article class="contentLeftColumn">
              <article class="contentLeftColumnContent">
                <h1 class="sprintHeader"><p><%= link_to sprint.name.truncate(10), project_issues_path(@project, :tid =>2, :sprint =>sprint.id) %>-</p>
                  <span class="editSprint">
                      <%= link_to("", edit_version_path(sprint), :title=>"Edit", :class => 'addNewDirectoryIcon ') if User.current.allowed_to?(:manage_versions, @project) %>

                    <% if User.current.allowed_to?(:manage_versions, @project) %>
                        <% if sprint.status == "open" %> 
                            <% if (@total_issue_size == @total_issue_closed_size) %>     
                              <%= link_to "", version_path(sprint.id, :status => "closed"), :title=>"Close Sprint", :confirm => "Are you sure want to you to close sprint?", :class=>'closeSprintDiv reOpenDiv', :method => 'put' %>
                            <%end%>
                        <% elsif sprint.status == "closed" %>         
                            <%= link_to "", version_path(sprint.id, :status => "open"), :title=>"Open Sprint",:class=>'editSprintDiv reOpenDiv',  :method => 'put' %>
                        <% end %>
                        <%= link_to("", version_path(sprint), :title=>"Delete", :class => 'deleteSprint', :method => 'delete')  %>
                    <% end %>

                  </span>
                </h1>
                <div class="projectDescriptionpara">
                  <p><% if sprint.description.present? %><%=  truncate(sprint.description, :length => 55)  %><% else %>Sprint description is not available<% end %></p>
                </div>
                <% if sprint.status == "closed"%>
                  <div class="ProjectStatueContainer sprintContView">
                <%else%>
                  <%if @issues_task.count !=0 || @issues_bugs.count !=0 %>
                          <%unless sprint.effective_date.nil? %>
                               <%if Date.today < sprint.effective_date %>
                                  <div class="ProjectStatueContainer sprintContView statusGreen">
                               <%else%>
                                  <div class="ProjectStatueContainer sprintContView statusRed">
                                <%end%>
                          <%else%>
                              <div class="ProjectStatueContainer sprintContView statusGreen">
                          <%end%>
                  <%else%>
                    <div class="ProjectStatueContainer sprintContView statusGreen">
                  <%end%>
                  <%end%>
                     
                     <article class="progressStatusWrap">              
                        <div class="progressStatus" id="task_progressStatus_<%= sprint.id%>"></div>
                        <% task_title = @issues_task.size == 0 ? "No Tasks" : "Completed  #{@issues_task_closed.size} out of  #{@issues_task.size} tasks" %>
                        <h6><a href="<%=project_issues_path(@project, :tid =>2, :sprint =>sprint.id)%>"><label title="<%= task_title%>"> <%= @issues_task_closed.size%>/<%= @issues_task.size %></label></a></h6>
                    </article>
                    <article class="progressStatusWrap">
                        <div class="progressStatus" id="bug_progressStatus_<%= sprint.id%>"></div>
                        <% bug_title = @issues_bugs.size == 0 ? "No Bugs" : "Completed  #{@issues_bugs_closed.size} out of  #{@issues_bugs.size} bugs" %>
                        <h6><a href="<%=project_issues_path(@project, :tid =>1, :sprint =>sprint.id)%>"><label class="bug" title="<%= bug_title%>"> <%= @issues_bugs_closed.size%>/<%= @issues_bugs.size %></label></a></h6>
                    </article>                           

                        <% if !sprint.init_date.nil? && !sprint.effective_date.nil? %>
                          <article class="projectDetailsWrap">
                             <p><%= sprint.init_date %><br />
                              to<br />
                              <%= sprint.effective_date %></p>
                            </article>
                        <% elsif !sprint.init_date.nil? && sprint.effective_date.nil? %>
                          <article class="projectDetailsWrap">
                               <p>&nbsp;<br />
                                From<br />
                              <%= sprint.init_date %></p>
                            </article>
                        <% elsif sprint.init_date.nil? && !sprint.effective_date.nil? %>
                          <article class="projectDetailsWrap">
                              <p>&nbsp;<br />
                                Till<br />
                              <%= sprint.effective_date %></p>
                            </article>
                        <% else %>
                          <article class="projectDetailsWrap">
                           <p>&nbsp;<br />
                                N/A<br />
                              &nbsp;</p>
                            </article>
                        <% end %>
                   
                </div>
              </article>
            </article>
           <script>
              ( function( $ ){
                  $( '#task_progressStatus_<%= sprint.id%>' ).progressCircle();
                  $( '#bug_progressStatus_<%= sprint.id%>' ).progressCircle();
                  $( '#task_progressStatus_<%= sprint.id%>' ).progressCircle({
                    nPercent        : <%= issuecalc %>,
                    showPercentText : true,
                    thickness       : 8,
                    circleSize      : 54
                  });
                  $( '#bug_progressStatus_<%= sprint.id%>' ).progressCircle({
                    nPercent        : <%= issuecalc1 %>,
                    showPercentText : true,
                    thickness       : 8,
                    circleSize      : 54
                  });
              })( jQuery );
          </script>


<% end %>


<% else %>
<div id="addSprintDiv">
  <div>Sprints are yet to be created by the managers!</div>
  <%= link_to("Add Sprint", new_project_version_path(@project), :class => 'greenBtn') if User.current.allowed_to?(:manage_versions, @project) %>

</div>


<% end %>
<%= render :partial => 'add_sprint_close_project' %>
<%# content_for :sidebar do %>
    <%#= render :partial => 'layouts/projects_sidebar' %>
<%# end %>



<script type="text/javascript">
jQuery(document).ready(function($) {


    $(".leftInnerContainer").addClass("sprintContainer");
    $('#addSprintDiv') .parent().removeClass('sprintContainer');

    var divHeight = $(window).height() -350;
      
    $("#addSprintDiv").css('height',divHeight);

  
  });

</script>

<%= javascript_tag do %>
  observeAutocompleteField('time_entry_issue_id', '<%= escape_javascript auto_complete_issues_path(:project_id => @project, :scope => (@project ? nil : 'all'))%>', {
    select: function(event, ui) {
      $('#time_entry_issue').text(ui.item.label);
    }
  });
<% end %>




