<%= javascript_include_tag 'jquery.fancytree.js','jquery.fancytree.menu.js' %>
<%= stylesheet_link_tag 'ui.fancytree.css', :media => 'all' %>
<div class="contextual">
<%= link_to(l(:label_attachment_new), new_project_file_path(@project), :class => 'icon icon-add') if User.current.allowed_to?(:manage_files, @project) %>
<%= link_to("Directory", new_project_directory_path(@project), :class => 'addNewDirectoryIcon ') if User.current.allowed_to?(:manage_files, @project) %>
</div>

<h2 class="title"><%=l(:label_attachment_plural)%></h2>

<% delete_allowed = User.current.allowed_to?(:manage_files, @project) %>

<% html_title(l(:label_attachment_plural)) -%>

<%= render :partial => 'projects/add_sprint_close_project' %>    
<br/><br/>
<%all_files_counter=0%>
<div id='tree'>
  <ul>
    <% for directory in @directories %>
    <!-- The below href is used for triggering context menu click and its data -->   
      <li id='li_directory_<%=directory.id%>' class='expanded folder'>
        <a href="javascript:directory_id=<%=directory.id%>;return false;"><%= directory.name %></a>
      <ul>
        <%file_counter=0%>
        <% @containers.each do |container| %>
          <% next if container.attachments.empty? -%>
          <% container.attachments.each do |attachment| %>
            <% if attachment.directory_id == directory.id %>            
              <%file_counter+=1%>
              <%all_files_counter+=1%>
              <li><%= link_to_attachment attachment, :download => true, :title => attachment.description %>
            <% end %>
          <% end
          reset_cycle %>          
        <% end %>
        <%if file_counter==0%>
          <script>
            $("#li_directory_<%=directory.id%>").remove();
          </script>
        <%end%>
      </ul>         
    <% end %>
    <li id='li_directory_null' class='expanded folder'>
        <a href="javascript:;return false;">Other Attachments</a>
      <ul>
        <%file_counter=0%>
        <% @containers.each do |container| %>
          <% next if container.attachments.empty? -%>
          <% container.attachments.each do |attachment| %>
            <% if attachment.directory_id == nil %>            
              <%file_counter+=1%>
              <%all_files_counter+=1%>
              <li><%= link_to_attachment attachment, :download => true, :title => attachment.description %>
            <% end %>
          <% end
          reset_cycle %>          
        <% end %>
        <%if file_counter==0%>
          <script>
            $("#li_directory_null").remove();
          </script>
        <%end%>
      </ul>  
  </ul>
</div>
<%if all_files_counter==0%>
<h4>No files created yet.</h4>
<%end%>
<script>
$(document).click(function(e) {  
  if(e.target.id!="tree"){  // if click is not in 'mydiv'
    $('#myMenu').hide();
  }
});  
$(document).ready(function(){ 

  $("#tree").fancytree({
      <%if delete_allowed%>
      extensions: ["menu"],
      <%end%>
      autoCollapse: true,
      minExpandLevel: 1,
      postinit: function(isReloading, isError) {
        this.reactivate();
      },
      focus: function(event, data) {
        // Auto-activate focused node after 2 seconds
        data.node.scheduleAction("activate", 2000);
      },
      activate: function(e, data) {         
        var node = data.node;
        // Use <a> href and target attributes to load the content:        
        if(node.data.href.indexOf("javascript:") >= 0)
          return
        else if( node.data.href ){
          // Open target
          window.open(node.data.href, node.data.target);
          // or open target in iframe
//                $("[name=contentFrame]").attr("src", node.data.href);
        }
      },
       menu: {
        selector: "#myMenu",
        position: {my: "center"},
        /*create: function(event, data){
          $.ui.fancytree.debug("Menu create ", data.$menu);
        },
        beforeOpen: function(event, data){
          $.ui.fancytree.debug("Menu beforeOpen ", data.$menu, data.node);
        },
        open: function(event, data){
          $.ui.fancytree.debug("Menu open ", data.$menu, data.node);
        },
        focus: function(event, data){
          $.ui.fancytree.debug("Menu focus ", data.menuId, data.node);
        },*/
        select: function(event, data){          
          //alert("Menu select " + data.menuId + ", " + data.node);
          if(data.node.data.href.indexOf("javascript:") >= 0)//Folders href contains javascript:
          {     
            if(data.node.data.href.split('javascript:directory_id=').length>1)       
            {
              var directory_id = data.node.data.href.split('javascript:directory_id=')[1].split(';return false')[0];
              fnDeleteDirectory(directory_id);
            }
            else
              alert("Cannot delete this directory.");
            
          }
          else if(typeof(data.node.data.href)!="undefined")//If not folders and with valid href is a file
          {
            var attachment_id = data.node.data.href.split('download/')[1].split('/')[0];
            fnDeleteFile(attachment_id);
          } 
          $('#myMenu').hide();
        }/*,
        close: function(event, data){
          $.ui.fancytree.debug("Menu close ", data.$menu, data.node);
        }*/
      },
    });
  });

  function fnDeleteFile(attachment_id)
  {
    if(confirm("Are you sure want to delete the file"))
    {
      $.ajax({
        type: 'delete',
        url: '<%= attachments_path%>/'+attachment_id,
        success: function(response){
          window.location.reload();          
        }
      });
    }
  }



  function fnDeleteDirectory(directory_id)
  {
    if(confirm("Are you sure? Any files under this directory will get removed automatically."))
    {      
      $.ajax({
        type: 'delete',
        url: '<%= Setting.host_name %>/projects/<%=@project.identifier%>/directories/'+directory_id +'?ajax=true',
        success: function(response){
          window.location.reload();          
        }
      });     
    }
      
  }
</script>
<%# content_for :sidebar do %>
<%#= render :partial => 'layouts/projects_sidebar' %>
<%# end %>             
<ul id="myMenu" class="contextMenu ui-helper-hidden">
  <li class='delete'><a href="javascript:;">Delete</a></li>
</ul>
