<h2 class="title"><%=l(:label_password_lost)%></h2>

<%= form_tag(lost_password_path) do %>
  <div class="box tabular">
    <p>
    	<%=l(:field_mail)%> <span class="required">*</span>
    	<%= text_field_tag 'mail', nil, :size => 40,:value=>params["mail"] %>      
    </p>
    <p>
    	<%= submit_tag l(:button_submit),:class=>'greenBtn' %>
    </p>
  </div>
<% end %>
