	<%= javascript_tag do %>
var operatorLabels = <%= raw_json Query.operators_labels %>;
var operatorByType = <%= raw_json Query.operators_by_filter_type %>;
var availableFilters = <%= raw_json query.available_filters_as_json %>;
var labelDayPlural = <%= raw_json l(:label_day_plural) %>;
var allProjects = <%= raw query.all_projects_values.to_json %>;
$(document).ready(function(){
  initFilters();

  <% query.filters.each do |field, options| %>
  addFilter("<%= field %>", <%= raw_json query.operator_for(field) %>, <%= raw_json query.values_for(field) %>);
  <% end %>
  <% if params["set_filter"] !=1%>
  	addSubjectFilter("subject", "~", "<%= query.values_for('subject') ? query.values_for('subject')[0] : '' %>")
  <% end %>
});
<% end %>


<div id="filterMainDiv">
	<div class="filterDiv">
		<%#= select_tag 'add_filter_select', filters_options_for_select(query), :name => nil %>
	</div>
	<div id="filters-table">
		
	</div>

    <%= link_to_function "Fillter", 'submit_query_form("query_form")', :class => 'greenBtn filterBtn' %>
     <%= link_to "", { :set_filter => 1, :project_id => @project, :tid => params["tid"] }, :class => 'icon icon-reload clearBtn', :title =>'Clear Filter' %>
    
	    <%# if @params_count > 9 %> 
	    <%#= link_to "", { :set_filter => 1, :project_id => @project, :tid => params["tid"] }, :class => 'icon icon-reload clearBtn' %>
	    <%# end %>
    
</div>

<%= hidden_field_tag 'f[]', '' %>
<% include_calendar_headers_tags %>
