<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<title><%=h html_title %></title>
<meta name="description" content="<%= Redmine::Info.app_name %>" />
<meta name="keywords" content="issue,bug,tracker" />
<%= csrf_meta_tag %>
<%= favicon %>



<%= stylesheet_link_tag 'jquery/jquery-ui-1.9.2', 'application', :media => 'all' %>
<%= stylesheet_link_tag 'rtl', :media => 'all' if l(:direction) == 'rtl' %>
<%= stylesheet_link_tag 'jquery.selectbox.css', 'application', :media => 'all' %>
<%= stylesheet_link_tag 'jquery.datetimepicker.css', 'application', :media => 'all' %>

<%= stylesheet_link_tag 'jquery-te-1.4.0.css', 'application', :media => 'all' %>
<%= stylesheet_link_tag 'stacked_bar_chart.css', 'application', :media => 'all' %>
<%= stylesheet_link_tag 'circle.css', 'application', :media => 'all' %>

<%= javascript_heads %>
<%= heads_for_theme %>
<%= call_hook :view_layouts_base_html_head %>
<!-- page specific tags -->
<%= yield :header_tags -%>
<%= javascript_include_tag 'jquery.selectbox-0.2.min.js' %>
<%= javascript_include_tag 'select_list_move' %>
<%= javascript_include_tag 'jquery.datetimepicker' %>
<%= javascript_include_tag 'jquery-te-1.4.0.min' %>
<%= javascript_include_tag 'progress-circle' %>
<%= javascript_include_tag 'd3.v3.min' %>

<script type="text/javascript">
$(function(){
    $(document).ready(function(){

        $("select").selectbox();
        //$("select[multiple]:not").selectbox();

        $(".scrum2b-issues").hide();

        <% if check_usr_in_group %>
        $("#account .settings").hide();
        <% end %>

        <% if @project && @project.parent_id.nil? %>
        $("#main-menu .overview").hide();
        $("#main-menu .todo").hide();
        $("#main-menu .bugs").hide();
        $("#main-menu .documents").hide();
        $("#main-menu .files").hide();
        $("#main-menu .wiki").hide();
        $("#main-menu .details").hide();
        $("#main-menu li").css("border-left","1px solid #9b9b9b");
        $("#main-menu li").css("border-right","1px solid #9b9b9b");
        <% end %>

        <% if client_group_check %>
        $("#account .time-entries").hide();
        <% end %>

        // Date picker enable today option and close on clicking outside

        $.datepicker._gotoToday = function(id) {
        var target = $(id);
        var inst = this._getInst(target[0]);
        if (this._get(inst, 'gotoCurrent') && inst.currentDay) {
                inst.selectedDay = inst.currentDay;
                inst.drawMonth = inst.selectedMonth = inst.currentMonth;
                inst.drawYear = inst.selectedYear = inst.currentYear;
        }
        else {
                var date = new Date();
                inst.selectedDay = date.getDate();
                inst.drawMonth = inst.selectedMonth = date.getMonth();
                inst.drawYear = inst.selectedYear = date.getFullYear();
                // the below two lines are new
                this._setDateDatepicker(target, date);
                this._selectDate(id, this._getDateDatepicker(target));
        }
        this._notifyChange(inst);
        this._adjustDate(target);
        }

        //$(".hasDatepicker").blur(function(e) { $(this).datepicker("hide"); });

        // Date picker enable today option and close on clicking outside ends here


        $('.bug_number').keydown(function(e) {     
            // Ensure that it is a number and stop the keypress
            // alert(e.keyCode)
            if(e.keyCode !=8) { //check if not backspace
                if((e.keyCode ==13 && this.value.length > 0) || e.keyCode == 46) 
                    return true;
                if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
                    e.preventDefault();
                }
            }
        });

    });
});
</script>
</head>
<body class="<%=h body_css_classes %>">
<div id="wrapper">
<div id="wrapper2">
<div id="wrapper3">


<div id="header">
    <!-- PM commented Starts -->
    <% # if User.current.logged? || !Setting.login_required? %>
    <!-- PM commented Ends -->
    <!-- TAG enhancement Starts -->
    <% if User.current.logged? || Setting.login_required? %>
    <!-- TAG enhancement Ends -->
    
    <div id="quick-search">
        <%= form_tag({:controller => 'search', :action => 'index', :id => @project}, :method => :get ) do %>
        <%= hidden_field_tag(controller.default_search_scope, 1, :id => nil) if controller.default_search_scope %>
        <label for='q'>
          <%= link_to l(:label_search), {:controller => 'search', :action => 'index', :id => @project}, :accesskey => accesskey(:search) %>:
        </label>
        <%= text_field_tag 'q', @question, :size => 20, :class => 'small bug_number', :accesskey => accesskey(:quick_search), :placeholder => "# Bug/Task" %>
        <% end %>
        <%= render_project_jump_box %>
    </div>
    <% end %>

    <div id="top-menu">
        <div id="account">
            <%= render_menu :account_menu -%>
        </div>

        <%= content_tag('div', "#{l(:label_logged_as)} #{link_to_user(User.current, :format => :username)}".html_safe, :id => 'loggedas') if User.current.logged? %>
        <%= render_menu :top_menu if User.current.logged? || !Setting.login_required? -%>

    </div>

    <%= link_to "", home_session_path, :class => "projectilelogo" %>

    <% if display_main_menu?(@project) %>
    
    <% end %>
    <div class="clear"></div>
</div>

<div id="main" class="<%= sidebar_content? ? '' : 'nosidebar' %>">
    <%# if @project.name != "general activity" %>
    <% if ((params[:controller]+params[:action]!= "timelogindex") || params[:sub_project] == "true") && (!@project.nil? && !@project.id.nil?) || (!@project.id.nil? unless @project.nil?) %>
        <% if @project.id!=@general_activity_project.id%>        
            <div id="main-menu"> 

               <h3 class="mainMenuTitle">
                <% if @project && @project.parent_id.nil? %>
                <%= link_to(@project, report_project_time_entries_path(@project),:class=>'projectTitleTop') %> &nbsp;
                <% else %>
                <%= link_to(@project, project_path(@project),:class=>'projectTitleTop') %> &nbsp;
                <% end %>
<% if !@project.parent_id.nil? %>

<%= link_to(" ", new_project_version_path(@project), :class => 'addSprint', :title => "Add Sprint", :project=>@project) if User.current.allowed_to?(:manage_versions, @project) %>

<% if (User.current.admin? || User.current.manager?) && User.current.allowed_to?(:manage_versions, @project) %>
<%= link_to " ", initiation_project_path(@project), :class => "link_initiation",:title =>"Initiation",  :method => :get %>
<%= link_to image_tag("meeting2.png", :width=>22, :height=>16, :class=>'meeting'), project_meetings_path(@project),:title =>"Meeting",  :method => :get %>
<% end %>

<% end %>

<% if User.current.allowed_to?(:close_project, @project) %>


    <% if !@project.parent_id.nil? %>

        <% if @project.active? %>
        <% unless @is_any_sprint_open %>
        <%= link_to " ", close_project_path(@project), :data => {:confirm => "Are you sure you want to close the project?"}, :class => "closeSprint", :title =>"Close the project",  :method => :post %>
        <% end %>
        <% else %>
        <%= link_to " ", reopen_project_path(@project), :data => {:confirm => "Are you sure you want to re-open the project?"},:class => "reopensprint",:title =>"Re-open the project",  :method => :post %>
        <% end %>

    <% else %>
    
        <% if @project.active? %>
        <%= link_to " ", close_project_path(@project), :data => {:confirm => "Are you sure you want to close the account?"}, :class => "closeSprint", :title =>"Close the account",  :method => :post %>
        <% else %>
        <%= link_to " ", reopen_project_path(@project), :data => {:confirm => "Are you sure you want to re-open the account?"},:class => "reopensprint",:title =>"Re-open the account",  :method => :post %>
        <% end %>

    <% end %>

<% end %>


                </h3>      
                <%= render_main_menu(@project) %>                
            </div>
        <%end%>
    <% end %>
    <%# end %>
    <section id="contentContainer">
        <div id="sidebar">
                <%= yield :sidebar %>
                <%= view_layouts_base_sidebar_hook_response %>
        </div>

        <div id="content">
            <div class="leftInnerContainer">
                <%= render_flash_messages %>
                <%if params[:controller]=='my'%>
                    <div class="tabs">
                        <ul>
                            <li><%= link_to("My Task", my_page_path(:my_task => true), :id=>'link_my_task' )%></li>
                            <li><%= link_to("My Account", my_account_path, :id=>'link_my_account') %></li>
                            <li><%= link_to("My Week", my_page_path(:my_spent_time => true), :id=>'link_my_week')%></li>
                        </ul>
                    </div>
                    
                <%end%>
                <%= yield %>
                <%= call_hook :view_layouts_base_content %>
                <div style="clear:both;"></div>
            </div>
        </div>
    </section>

</div>
<div class="clear"></div>
</div>

<div id="ajax-indicator" style="display:none;"><span><%= l(:label_loading) %></span></div>
<div id="ajax-modal" style="display:none;"></div>

<div id="footer">
  <div class="bgl">
    <div class="bgr">
    <!--<%= link_to Redmine::Info.app_name, Redmine::Info.url %> -->&copy;2013 - 2014  TechAffinity  All Rights Reserved.
    </div>
    <span class="ver">Projectile V1.5</span>
  </div>
</div>
</div>
</div>
<%= call_hook :view_layouts_base_body_bottom %>
</body>
</html>
